
/* Firefox < 16 */
@-moz-keyframes leftToRight {
    from { left: -100%; }
    to   { left: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes leftToRight {
    from { left: -100%; }
    to   { left: 0; }
}

/* Internet Explorer */
@-ms-keyframes leftToRight {
    from { left: -100%; }
    to   { left: 0; }
}

/* Opera < 12.1 */
@-o-keyframes leftToRight {
    from { left: -100%; }
    to   { left: 0; }
}

@keyframes leftToRight {
    from { left: -100%; }
    to   { left: 0; }
}

/*------------------*/

/* Firefox < 16 */
@-moz-keyframes upDown {
    from { top: -100%; }
    to   { top: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes upDown {
    from { top: -100%; }
    to   { top: 0; }
}

/* Internet Explorer */
@-ms-keyframes upDown {
    from { top: -100%; }
    to   { top: 0; }
}

/* Opera < 12.1 */
@-o-keyframes upDown {
    from { top: -100%; }
    to   { top: 0; }
}

@keyframes upDown {
    from { top: -100%; }
    to   { top: 0; }
}

.contact-form{
  position: relative;
  overflow: hidden;
  padding: 2px;
}

/*---------------/
  #CONTACT-TABLE
/*--------------*/
.contact-table{
  border-spacing: 0;
  position: relative;
}

.contact-form{position: relative;}


.contact-table-cell-half{width: 50%;}
.contact-table-cell{
  border: 1px solid #00C4D5;
  border-left: 0;
  border-right: 0;
  padding: 12px 20px;
  color: #757575;
}
.contact-table-cell h2{
  color: #00C4D5;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.contact-table-cell h2 span{
  font-weight: 300;
}

.contact-table-cell strong{
  color: #757575;
  font-size: 12px;
}
.contact-table-cell p{
  font-size: 24px;
  font-weight: 300;
}

.contact-table-cell-lt{
  border-left:0;
  border-top:0;
}
.contact-table-cell-rt{
  border-right:0;
  border-top:0;
}
.contact-table-cell-lm{
  border-left:0;
}
.contact-table-cell-rm{
  border-right:0;
}
.contact-table-cell-lb{
  border-left:0;
  border-bottom:0;
}
.contact-table-cell-rb{
  border-right:0;
  border-bottom:0;
}

.contact-table-cell-b{
  border-right:0!important;
  border-left:0!important;
  border-top:0!important;
}

.contact-table-cell-submit{
  padding: 0;
  position: relative;
  overflow: hidden;
}
.contact-table-cell-submit-on{
  display: block;
  background: #00C4D5 center no-repeat;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}

.contact-table-cell-submit-on i{
  color: #fff;
  font-size: 22px;
  left: 120px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact-table-cell-submit input[type="submit"]{
  padding: 14px 40px;
  color: #757575;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: left;
  position: relative;
  z-index: 2;
}

.contact-table-cell-submit:hover .contact-table-cell-submit-on{
  left: 0;
}
.contact-table-cell-submit:hover input[type="submit"]{
  color: #fff;
}

.contact-table-cell input[type="email"],
.contact-table-cell input[type="text"],
.contact-table-cell textarea{
  border: 0;
  font-size: 16px;
  width: 100%;
}

.contact-table-cell textarea:-webkit-autofill,
.contact-table-cell input:-webkit-autofill {
    background: red!important;
    color: red;
}

.contact-table-cell textarea{
  resize: none;
  background:transparent;
}


.contact-table-mobile .contact-table-cell{
  border: 1px solid #00C4D5;
}

.contact-table-cell{
  position: relative;
  overflow: hidden;
}

.leftToRight{
  -webkit-animation-name: leftToRight;
  -moz-animation-name:    leftToRight;
  -o-animation-name:      leftToRight;
  animation-name:         leftToRight;
}

.upDown{
  -webkit-animation-name: upDown;
  -moz-animation-name:    upDown;
  -o-animation-name:      upDown;
  animation-name:         upDown;
}


.contact-stroke{
  display: block;
  z-index:9;
  visibility: hidden;
  background: #00C4D5;
  position: absolute;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}

.contact-top-border{
  display: block;
  height: 4px;
  width: 100%;
  top: -2px;
  left: -100%;
  /*-webkit-animation: leftToRight 1s forwards;
  -moz-animation:    leftToRight 1s forwards;
  -o-animation:      leftToRight 1s forwards;
  animation:         leftToRight 1s forwards;*/
}

.contact-bottom-border{
  height: 4px;
  width: 100%;
  bottom: -2px;
  left: -100%;
  /*
  -webkit-animation: leftToRight 1s 1s forwards;
  -moz-animation:    leftToRight 1s 1s forwards;
  -o-animation:      leftToRight 1s 1s forwards;
  animation:         leftToRight 1s 1s forwards;*/
}

.contact-left-border{
  width: 4px;
  height: 100%;
  left: -2px;
  top: -100%;
  /*-webkit-animation: upDown 1s forwards;
  -moz-animation:    upDown 1s forwards;
  -o-animation:      upDown 1s forwards;
  animation:         upDown 1s forwards;*/
}

.contact-right-border{
  width: 4px;
  height: 100%;
  right: -2px;
  top: -100%;
  /*-webkit-animation: upDown 1s 1s forwards;
  -moz-animation:    upDown 1s 1s forwards;
  -o-animation:      upDown 1s 1s forwards;
  animation:         upDown 1s 1s forwards;*/
}

.contact-left-inner-border{
  display: block;
  width: 4px;
  height: 100%;
  right: -2px;
  top: -100%;
  /*-webkit-animation: upDown 0.2s forwards 0.5s;
  -moz-animation:    upDown 0.2s forwards 0.5s;
  -o-animation:      upDown 0.2s forwards 0.5s;
  animation:         upDown 0.2s forwards 0.5s;*/
}

.contact-left-middle-inner-border{
  width: 4px;
  height: 100%;
  right: -2px;
  top: -100%;
  /*-webkit-animation: upDown .2s forwards .6s;
  -moz-animation:    upDown .2s forwards .6s;
  -o-animation:      upDown .2s forwards .6s;
  animation:         upDown .2s forwards .6s;*/
}

.contact-left-bottom-inner-border{
  width: 4px;
  height: 100%;
  right: -2px;
  top: -100%;
  /*-webkit-animation: upDown .4s forwards .7s;
  -moz-animation:    upDown .4s forwards .7s;
  -o-animation:      upDown .4s forwards .7s;
  animation:         upDown .4s forwards .7s;*/
}
