@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d8z1bn');
  src:  url('../fonts/icomoon.eot?d8z1bn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d8z1bn') format('truetype'),
    url('../fonts/icomoon.woff?d8z1bn') format('woff'),
    url('../fonts/icomoon.svg?d8z1bn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abajo:before {
  content: "\e900";
}
.icon-about:before {
  content: "\e901";
}
.icon-api:before {
  content: "\e902";
}
.icon-awards:before {
  content: "\e903";
}
.icon-bocetaje:before {
  content: "\e904";
}
.icon-branding:before {
  content: "\e905";
}
.icon-buscador:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-campana:before {
  content: "\e908";
}
.icon-comilla1:before {
  content: "\e909";
}
.icon-comilla2:before {
  content: "\e90a";
}
.icon-configurable:before {
  content: "\e90b";
}
.icon-contacto:before {
  content: "\e90c";
}
.icon-cuadros:before {
  content: "\e90d";
}
.icon-definicion:before {
  content: "\e90e";
}
.icon-der:before {
  content: "\e90f";
}
.icon-diseno:before {
  content: "\e910";
}
.icon-diseno2:before {
  content: "\e911";
}
.icon-doc:before {
  content: "\e912";
}
.icon-docu:before {
  content: "\e913";
}
.icon-documentacion:before {
  content: "\e914";
}
.icon-download:before {
  content: "\e915";
}
.icon-escalable:before {
  content: "\e916";
}
.icon-estudio:before {
  content: "\e917";
}
.icon-face:before {
  content: "\e918";
}
.icon-flecha:before {
  content: "\e919";
}
.icon-funcionamiento:before {
  content: "\e91a";
}
.icon-garantia:before {
  content: "\e91b";
}
.icon-grafica:before {
  content: "\e91c";
}
.icon-hands:before {
  content: "\e91d";
}
.icon-insta:before {
  content: "\e91e";
}
.icon-interaccion:before {
  content: "\e91f";
}
.icon-iu:before {
  content: "\e920";
}
.icon-izq:before {
  content: "\e921";
}
.icon-lanzamiento:before {
  content: "\e922";
}
.icon-link:before {
  content: "\e923";
}
.icon-linkedin:before {
  content: "\e924";
}
.icon-lista:before {
  content: "\e925";
}
.icon-logo:before {
  content: "\e926";
}
.icon-mano:before {
  content: "\e927";
}
.icon-mantenimiento:before {
  content: "\e928";
}
.icon-marketing:before {
  content: "\e929";
}
.icon-meeting:before {
  content: "\e92a";
}
.icon-mercado:before {
  content: "\e92b";
}
.icon-multiempresas:before {
  content: "\e92c";
}
.icon-Multilenguaje:before {
  content: "\e92d";
}
.icon-multiusuarios:before {
  content: "\e92e";
}
.icon-nave:before {
  content: "\e92f";
}
.icon-noticias:before {
  content: "\e930";
}
.icon-paleta:before {
  content: "\e931";
}
.icon-portafolio:before {
  content: "\e932";
}
.icon-premios:before {
  content: "\e933";
}
.icon-produccion:before {
  content: "\e934";
}
.icon-propiedad:before {
  content: "\e935";
}
.icon-pruebas:before {
  content: "\e936";
}
.icon-quotes:before {
  content: "\e937";
}
.icon-redefinir:before {
  content: "\e938";
}
.icon-referencias:before {
  content: "\e939";
}
.icon-reportes:before {
  content: "\e93a";
}
.icon-responsivo:before {
  content: "\e93b";
}
.icon-seo:before {
  content: "\e93c";
}
.icon-social:before {
  content: "\e93d";
}
.icon-software:before {
  content: "\e93e";
}
.icon-soporte:before {
  content: "\e93f";
}
.icon-soporte1:before {
  content: "\e940";
}
.icon-soporte2:before {
  content: "\e941";
}
.icon-soporte3:before {
  content: "\e942";
}
.icon-soporte4:before {
  content: "\e943";
}
.icon-telefono:before {
  content: "\e944";
}
.icon-tranquilo:before {
  content: "\e945";
}
.icon-tweet:before {
  content: "\e946";
}
.icon-velocidad:before {
  content: "\e947";
}
.icon-whatsapp:before {
  content: "\e948";
}
.icon-wireframe:before {
  content: "\e949";
}
.icon-youtube:before {
  content: "\e94a";
}
