@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?bpw4xe');
	src:url('../fonts/icomoon.eot?bpw4xe#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?bpw4xe') format('truetype'),
		url('../fonts/icomoon.woff?bpw4xe') format('woff'),
		url('../fonts/icomoon.svg?bpw4xe#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-abajo:before {
	content: "\e900";
}
.icon-about:before {
	content: "\e901";
}
.icon-api:before {
	content: "\e902";
}
.icon-awards:before {
	content: "\e903";
}
.icon-bocetaje:before {
	content: "\e904";
}
.icon-buscador:before {
	content: "\e905";
}
.icon-campana:before {
	content: "\e906";
}
.icon-comilla1:before {
	content: "\e907";
}
.icon-comilla2:before {
	content: "\e908";
}
.icon-configurable:before {
	content: "\e909";
}
.icon-contacto:before {
	content: "\e90a";
}
.icon-cuadros:before {
	content: "\e90b";
}
.icon-definicion:before {
	content: "\e90c";
}
.icon-der:before {
	content: "\e90d";
}
.icon-diseno:before {
	content: "\e90e";
}
.icon-diseno2:before {
	content: "\e90f";
}
.icon-doc:before {
	content: "\e910";
}
.icon-docu:before {
	content: "\e911";
}
.icon-documentacion:before {
	content: "\e912";
}
.icon-escalable:before {
	content: "\e913";
}
.icon-estudio:before {
	content: "\e914";
}
.icon-face:before {
	content: "\e915";
}
.icon-flecha:before {
	content: "\e916";
}
.icon-funcionamiento:before {
	content: "\e917";
}
.icon-garantia:before {
	content: "\e918";
}
.icon-grafica:before {
	content: "\e919";
}
.icon-insta:before {
	content: "\e91a";
}
.icon-interaccion:before {
	content: "\e91b";
}
.icon-iu:before {
	content: "\e91c";
}
.icon-izq:before {
	content: "\e91d";
}
.icon-lanzamiento:before {
	content: "\e91e";
}
.icon-link:before {
	content: "\e91f";
}
.icon-lista:before {
	content: "\e920";
}
.icon-logo:before {
	content: "\e921";
}
.icon-mano:before {
	content: "\e922";
}
.icon-mantenimiento:before {
	content: "\e923";
}
.icon-marketing:before {
	content: "\e924";
}
.icon-mercado:before {
	content: "\e925";
}
.icon-multiempresas:before {
	content: "\e926";
}
.icon-Multilenguaje:before {
	content: "\e927";
}
.icon-multiusuarios:before {
	content: "\e928";
}
.icon-nave:before {
	content: "\e929";
}
.icon-noticias:before {
	content: "\e92a";
}
.icon-paleta:before {
	content: "\e92b";
}
.icon-portafolio:before {
	content: "\e92c";
}
.icon-produccion:before {
	content: "\e92d";
}
.icon-propiedad:before {
	content: "\e92e";
}
.icon-pruebas:before {
	content: "\e92f";
}
.icon-redefinir:before {
	content: "\e930";
}
.icon-referencias:before {
	content: "\e931";
}
.icon-reportes:before {
	content: "\e932";
}
.icon-responsivo:before {
	content: "\e933";
}
.icon-seo:before {
	content: "\e934";
}
.icon-social:before {
	content: "\e935";
}
.icon-software:before {
	content: "\e936";
}
.icon-soporte:before {
	content: "\e937";
}
.icon-soporte1:before {
	content: "\e938";
}
.icon-soporte2:before {
	content: "\e939";
}
.icon-soporte3:before {
	content: "\e93a";
}
.icon-soporte4:before {
	content: "\e93b";
}
.icon-telefono:before {
	content: "\e93c";
}
.icon-tranquilo:before {
	content: "\e93d";
}
.icon-tweet:before {
	content: "\e93e";
}
.icon-velocidad:before {
	content: "\e93f";
}
.icon-wireframe:before {
	content: "\e940";
}
.icon-youtube:before {
	content: "\e941";
}

