@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?6zarhu');
	src:url('../fonts/icomoon.eot?6zarhu#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?6zarhu') format('truetype'),
		url('../fonts/icomoon.woff?6zarhu') format('woff'),
		url('../fonts/icomoon.svg?6zarhu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-software:before {
	content: "\e838";
}
.icon-iu:before {
	content: "\e839";
}
.icon-marketing:before {
	content: "\e83a";
}
.icon-abajo:before {
	content: "\e800";
}
.icon-about:before {
	content: "\e801";
}
.icon-api:before {
	content: "\e802";
}
.icon-awards:before {
	content: "\e803";
}
.icon-buscador:before {
	content: "\e804";
}
.icon-campana:before {
	content: "\e805";
}
.icon-comilla1:before {
	content: "\e806";
}
.icon-comilla2:before {
	content: "\e807";
}
.icon-configurable:before {
	content: "\e808";
}
.icon-contacto:before {
	content: "\e809";
}
.icon-cuadros:before {
	content: "\e80a";
}
.icon-definicion:before {
	content: "\e80b";
}
.icon-der:before {
	content: "\e80c";
}
.icon-diseno:before {
	content: "\e80d";
}
.icon-doc:before {
	content: "\e80e";
}
.icon-docu:before {
	content: "\e80f";
}
.icon-documentacion:before {
	content: "\e810";
}
.icon-escalable:before {
	content: "\e811";
}
.icon-estudio:before {
	content: "\e812";
}
.icon-face:before {
	content: "\e813";
}
.icon-flecha:before {
	content: "\e814";
}
.icon-funcionamiento:before {
	content: "\e815";
}
.icon-garantia:before {
	content: "\e816";
}
.icon-grafica:before {
	content: "\e817";
}
.icon-insta:before {
	content: "\e818";
}
.icon-izq:before {
	content: "\e819";
}
.icon-lanzamiento:before {
	content: "\e81a";
}
.icon-link:before {
	content: "\e81b";
}
.icon-lista:before {
	content: "\e81c";
}
.icon-logo:before {
	content: "\e81d";
}
.icon-mantenimiento:before {
	content: "\e81e";
}
.icon-mercado:before {
	content: "\e81f";
}
.icon-multiempresas:before {
	content: "\e820";
}
.icon-Multilenguaje:before {
	content: "\e821";
}
.icon-multiusuarios:before {
	content: "\e822";
}
.icon-nave:before {
	content: "\e823";
}
.icon-noticias:before {
	content: "\e824";
}
.icon-portafolio:before {
	content: "\e825";
}
.icon-produccion:before {
	content: "\e826";
}
.icon-propiedad:before {
	content: "\e827";
}
.icon-pruebas:before {
	content: "\e828";
}
.icon-redefinir:before {
	content: "\e829";
}
.icon-reportes:before {
	content: "\e82a";
}
.icon-responsivo:before {
	content: "\e82b";
}
.icon-seo:before {
	content: "\e82c";
}
.icon-social:before {
	content: "\e82d";
}
.icon-soporte:before {
	content: "\e82e";
}
.icon-soporte1:before {
	content: "\e82f";
}
.icon-soporte2:before {
	content: "\e830";
}
.icon-soporte3:before {
	content: "\e831";
}
.icon-soporte4:before {
	content: "\e832";
}
.icon-telefono:before {
	content: "\e833";
}
.icon-tranquilo:before {
	content: "\e834";
}
.icon-tweet:before {
	content: "\e835";
}
.icon-velocidad:before {
	content: "\e836";
}
.icon-youtube:before {
	content: "\e837";
}

