
/*--------------/
  #PROJECTS-SLIDER
/*-------------*/

/* Firefox < 16 */
@-moz-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.projects-slider{}
.projects-slider-viewport{
  overflow: hidden;
  position: relative;
}
.projects-slide{
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.projects-slide-active{
  transition: all .4s;
}
.projects-slide-out{
  transition: all .4s;
}

.projects-slide-content{
  padding: 0;
  text-align: center;
  /*top: 100%;*/
  -ms-transform: translate(0,100%);
  -webkit-transform: translate(0,100%);
  -moz-transform: translate(0,100%);
  -o-transform: translate(0,100%);
  transform: translate(0,100%);
}

.projects-slide-image{
  /*bottom: 100%;*/
  -ms-transform: translate(0,-100%);
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  -o-transform: translate(0,-100%);
  transform: translate(0,-100%);
}

.projects-slide-content.projects-slide-active{
  /*top:0;*/
  -ms-transform: translate(0,0%);
  -webkit-transform: translate(0,0%);
  -moz-transform: translate(0,0%);
  -o-transform: translate(0,0%);
  transform: translate(0,0%);
}

.projects-slide-content.projects-slide-out{
  /*top:-100%;*/
  -ms-transform: translate(0,-100%);
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  -o-transform: translate(0,-100%);
  transform: translate(0,-100%);
}

.projects-slide-image.projects-slide-active{
  /*bottom:0;*/
  -ms-transform: translate(0,0%);
  -webkit-transform: translate(0,0%);
  -moz-transform: translate(0,0%);
  -o-transform: translate(0,0%);
  transform: translate(0,0%);
  overflow: hidden;
}

.projects-slide-image.projects-slide-out{
  /*bottom:-100%;*/
  -ms-transform: translate(0,100%);
  -webkit-transform: translate(0,100%);
  -moz-transform: translate(0,100%);
  -o-transform: translate(0,100%);
  transform: translate(0,100%);
}

.projects-slide-content,
.projects-slide-image{
  max-width: 100%
}

.projects-slide-image-wrapper,
.projects-slide-image-inner{
  position: relative;
  height: 100%;
}

.projects-slide-image-inner{
  background-position: center!important;
  background-size: cover!important;
  -webkit-animation: fadeinCustom 1s; /* Safari 4+ */
  -moz-animation:    fadeinCustom 1s; /* Fx 5+ */
  -o-animation:      fadeinCustom 1s; /* Opera 12+ */
  animation:         fadeinCustom 1s;
  overflow: hidden;
}


.projects-slide-image{background-size: cover!important}
.projects-slide-content h3{
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.projects-slide-content h1{
  animation-delay:.3s;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
}

.projects-slide-content h1 a{color: #fff}
.projects-slide-content .action-btn:hover{
  border: 1px solid #00c5d8;
  background: #00c5d8;
  color: #fff;
}

.projects-slide-content p{font-weight: 300}
.projects-slide-content .project-link{
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  font-size: 54px;
}

.projects-slide-content .project-link:hover{
  color: #00c5d8;
}

.projects-slide-content .project-link i{
  line-height: 1!important;
  vertical-align: middle;
}

.projects-slider-reel-wrapper{
  position: relative;
  overflow: hidden;
}

.projects-slider-reel-inner{position: relative;}

.projects-slider-reel{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.projects-slider-content-reel-wrapper{
  background: #3E3E3E;
}

.projects-slider-nav{
  position: relative;
  width: 80%;
  min-width: 80px;
  max-width: 132px;
  z-index: 9;
  margin: 10px auto;
}

.projects-slider-nav > a{
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}

.projects-slider-bullets{
  position: absolute;
  right: 20px;
  top: 50%;
  list-style: none;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.projects-slider-bullets li{margin-bottom: 3px;}
.projects-slider-bullets a{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: transparent;
}

.projects-slider-bullets a.active-bullet{
  background: #fff;
}

.projects-slider .slide-next{
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background: #05d3cf url(../images/flecha_proyectos3.png) center no-repeat;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  z-index: 99;
}

.projects-slider .slide-next:hover{
  background: #475bc3 url(../images/flecha_proyectos3.png) center no-repeat;
}

/*--------------/
  #PROJECTS-CATEGORIES
/*-------------*/

.projects-categories-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1%;
  z-index: 99;
  /*background: #16A6C5;*/
}

.projects-categories-wrapper form img{max-width: 18px;}
.projects-categories-wrapper form i{color: #fff}
.projects-categories-wrapper md-input-container{font-size: 14px;}

.projects-categories-wrapper label{color: #fff!important;}
.projects-categories-wrapper input[type="text"]{
  color: #fff;
  border-bottom: 1px solid #fff!important;
}
.projects-categories-wrapper input[type="text"]::-webkit-input-placeholder { color:#fff; }
.projects-categories-wrapper input[type="text"]:-moz-placeholder { color:#fff; } /* FF 4-18 */
.projects-categories-wrapper input[type="text"]::-moz-placeholder { color:#fff; } /* FF 19+ */
.projects-categories-wrapper input[type="text"]:-ms-input-placeholder { color:#fff; } /* IE 10+ */

.projects-categories .project-category{
  color: #fff;
  font-weight: 300;
  padding: 3px 12px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 2;
}

.projects-categories .project-category + .project-category{
  border-left: 0;
}

.projects-categories .project-category span{
  position: relative;
  z-index: 2;
}
.projects-categories .project-category:hover,
.projects-categories .project-category-active{
  color: #3E3E3E;
}

.projects-categories .project-category:before{
  content: '';
  display: block;
  position: absolute;
  left: -100%;
  background: #fff;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}

.projects-categories .project-category-active:before,
.projects-categories .project-category:hover:before{
  left: 0!important;
}


.projects-slider-images-reel-wrapper .projects-slider-nav{
  display: none;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  margin: 0;
  padding: 10px;
  width: 100%;
  max-width: none;
}
.projects-slider-images-reel-wrapper .projects-slider-nav a{font-size: 26px;}



@media screen and (max-width: 600px){
  .projects-slide{
    height: 100%!important;
    min-height: 420px;
    /*padding-top: 23%;*/
  }
  .projects-slide-content.projects-slide-preview{
    padding-top: 30px;
    justify-content: flex-start;
    min-height: 360px;
  }
  .projects-slide-content .container-sm{
    padding: 20px;
  }
  .projects-slider-viewport{
    display: block;
    height: auto!important;
  }

  .projects-slider-reel-wrapper{min-height: 460px}
  .projects-slide-image-inner{min-height: 420px;}

  .projects-slider-nav{
    /*top: 50%;
    height: 70px;
    margin-top: -70px;
    width: 100%;*/
  }

  .projects-slider-bullets{
    display: none;
    bottom: 20px;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    top: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .projects-slide-content .project-link{margin-top: 0;}

  .projects-slider-bullets li{
    display: inline-block;
    margin: 0 5px;
  }

  .projects-slide-content .project-link{font-size: 40px;}

  .projects-slide .projects-slider-nav{
    display: none;
  }

  .projects-slider-images-reel-wrapper .projects-slider-nav {
    display: flex;
  }
  .projects-categories-wrapper{
    top: 5%;
  }

}

@media screen and (max-width: 400px){
  .projects-slide{min-height: 530px;  }
}
