
/*--------------/
  #PROJECTS-SLIDER
/*-------------*/

/* Firefox < 16 */
@-moz-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeinCustom {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.projects-slider{}
.projects-slider-viewport{
  overflow: hidden;
  position: relative;
}
.projects-slide{
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.projects-slide-active{
  transition: all .4s;
}
.projects-slide-out{
  transition: all .4s;
}

.projects-slide-content{
  padding: 0;
  text-align: center;
  top: 100%;
}

.projects-slide-image{
  bottom: 100%;
}

.projects-slide-content.projects-slide-active{top:0;}
.projects-slide-content.projects-slide-out{top:-100%;}

.projects-slide-image.projects-slide-active{bottom:0;}
.projects-slide-image.projects-slide-out{bottom:-100%;}

.projects-slide-content,
.projects-slide-image{
  max-width: 100%
}

.projects-slide-image-wrapper,
.projects-slide-image-inner{
  position: relative;
  height: 100%;

}

.projects-slide-image-inner{
  background-position: center!important;
  background-size: cover!important;
  -webkit-animation: fadeinCustom 1s; /* Safari 4+ */
  -moz-animation:    fadeinCustom 1s; /* Fx 5+ */
  -o-animation:      fadeinCustom 1s; /* Opera 12+ */
  animation:         fadeinCustom 1s;
}


.projects-slide-image{background-size: cover!important}
.projects-slide-content h3{
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.projects-slide-content h1{
  margin-bottom: 20px;
  animation-delay:.3s;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
}

.projects-slide-content h1 a{color: #fff}

.projects-slide-content p{font-weight: 300}
.projects-slide-content .project-link{
  display: inline-block;
  margin-top: 20px;
}

.projects-slider-reel-wrapper{
  position: relative;
  overflow: hidden;
}

.projects-slider-reel-inner{position: relative;}

.projects-slider-reel{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.projects-slider-content-reel-wrapper{
  background: #3E3E3E;
}

.projects-slider-nav{
  position: relative;
  width: 80%;
  min-width: 80px;
  max-width: 132px;
  padding: 20px 0;
  z-index: 9;
  margin: 0 auto;
}

.projects-slider-nav > a{margin: 0 10px}

.projects-slider-bullets{
  position: absolute;
  right: 20px;
  top: 50%;
  list-style: none;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.projects-slider-bullets li{margin-bottom: 3px;}
.projects-slider-bullets a{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: transparent;
}

.projects-slider-bullets a.active-bullet{
  background: #fff;
}

.projects-slider .slide-next{
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background: #05d3cf url(../images/flecha_proyectos3.png) center no-repeat;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  z-index: 9;
}

.projects-slider .slide-next:hover{
  background: #475bc3 url(../images/flecha_proyectos3.png) center no-repeat;
}

@media screen and (max-width: 600px){
  .projects-slide{
    height: 100%!important;
    min-height: 420px;
  }
  .projects-slider-viewport{
    display: block;
    height: auto!important
  }
  .projects-slider-reel-wrapper,
  .projects-slide-image-inner{min-height: 420px}

  .projects-slider-nav{
    top: 50%;
    height: 70px;
    margin-top: -70px;
    width: 100%;
  }

  .projects-slider-bullets{
    bottom: 20px;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    top: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .projects-slider-bullets li{
    display: inline-block;
    margin: 0 5px;
  }

}
