<div class="clients-slider">

  <div class="clients-slider-viewport">
    <div class="clients-slider-reel">

      <!--SLIDES-->
      <div
        class="clients-slide"
        ng-repeat="client in clients track by $index"
        data-slide-index="{{$index}}"
        layout="row"
        layout-align="space-between center"
        layout-sm="column"
        >

        <div class="client-item container container-lg">
          <p>{{client.quote}}</p>
          <h5>{{client.name}}</h5>
          <h6>{{client.company}}</h6>
        </div>

      </div>

      <!--/SLIDES-->

      <div class="clear"></div>
    </div>

  </div>


    <a ng-click="movePrev()" href="" class="clients-slider-arrow clients-slider-arrow-left">
      <img src="images/flechaa.png" alt="">
    </a>
    <a ng-click="moveNext()" href="" class="clients-slider-arrow clients-slider-arrow-right">
      <img src="images/flechab.png" alt="">
    </a>

    <div class="clients-slider-bullets">
      <a
        href=""
        ng-repeat="client in clients track by $index"
        ng-class="{'client-slider-bullet-active' : $index == selectedIndex}"
        ng-click="moveTo($index)"
        >
          <img ng-src="{{client.avatar}}" alt="{{client.name}}">
      </a>
    </div>

</div>
