<div class="clients-slider">

  <div class="clients-slider-viewport">
    <div class="clients-slider-reel">

      <!--SLIDES-->
      <div
        class="clients-slide"
        ng-repeat="slide in slides track by $index"
        ng-class="{
          'clients-slide-active': selectedIndex == $index,
          'clients-slide-right': nextIndex == $index,
          'clients-slide-left' : prevIndex == $index,
          'clients-slide-animated': isAnimated($index)
        }"
        layout="row"
        layout-align="space-between center"
        layout-sm="column"
        style="width: {{widthSlide}}%">

        <div ng-repeat="client in slide" class="client-item" flex="45" flex-sm="100">
          <img ng-src="{{client.avatar}}" class="client-item-avatar" alt="">
          <h5>{{client.name}}</h5>
          <h6>{{client.company}}</h6>
          <p>{{client.quote}}</p>
        </div>

      </div>

      <!--/SLIDES-->

      <div class="clear"></div>
    </div>

  </div>


    <a ng-click="movePrev()" href="" class="clients-slider-arrow clients-slider-arrow-left">
      <img src="images/flechaa.png" alt="">
    </a>
    <a ng-click="moveNext()" href="" class="clients-slider-arrow clients-slider-arrow-right">
      <img src="images/flechab.png" alt="">
    </a>

    <!--<div class="clients-slider-bullets">
      <a
        href=""
        ng-repeat="i in getNumber(itemsCount) track by $index"
        ng-class="{'client-slider-bullet-active' : $index == selectedIndex}"
        ng-click="moveTo($index)"
        >
      </a>
    </div>-->

</div>
