<div class="projects-slider">
	<div
		class="projects-slider-viewport"
		layout="row"
    layout-sm="column"
		ng-style="style('firstScreen')"
		full-screen-wrapper
		>

    <div class="projects-slider-reel-wrapper projects-slider-images-reel-wrapper" flex="50" flex-sm="100">
  		<div class="projects-slider-reel projects-slider-images-reel">

  			<!--Slides(por proyecto)-->

  			<div
  				ng-repeat="project in projects track by $index"
  				class="projects-slide projects-slide-image"
          ng-class="{
            'projects-slide-active' : selectedIndexSlide == $index,
            'projects-slide-out' : movingOutIndexSlide == $index
          }"
  			>
  				<!--Fotos de proyecto-->
  				<div
  					ng-repeat="image in project.images track by $index"
  					ng-if="selectedProjectPhoto == $index"
  					class="projects-slide-image-wrapper"
  					data-image-index="0"
  				>
  					<div
  						ng-style="{'background' : 'url('+image+') no-repeat'}"
              lazy-img='{{image}}'
  						class="projects-slide-image-inner lazy-loader-gif"
  					></div>

  				</div>
  			</div>

  		</div>
    </div>

    <div class="projects-slider-reel-wrapper projects-slider-content-reel-wrapper" flex="50" flex-sm="100">

      <section layout="column" layout-gt-lg="row" layout-align="center center" class="projects-categories-wrapper  container-smd">
        <form flex="30">
          <section layout="row" layout-align="center center">
            <a href="#">
              <!--<img src="images/buscar2.png" alt="">-->
              <i class="icon-buscador"></i>
            </a>
            <md-input-container flex="80" >
                <label>Busca un proyecto</label>
              <input ng-model="searchTerm" type="text">
            </md-input-container>
          </section>
        </form>
        <section flex="70">
          <section layout="row" layout-align="center center" class="projects-categories">
            <a
              ng-class="{'project-category-active': currentCategory == 'ui-ux'}"
              href="/proyectos/categoria/ui-ux" class="project-category">
              <span>UI/UX Design</span>
            </a>
            <a
              ng-class="{'project-category-active': currentCategory == 'branding'}"
              href="/proyectos/categoria/branding" class="project-category">
              <span>Branding</span>
            </a>
            <!--<a
              ng-class="{'project-category-active': currentCategory == 'marketing'}"
              ng-click="getProjectsByCategory('marketing')"
              href="" class="project-category">
              <span>Marketing</span>
            </a>
            <a
              ng-class="{'project-category-active': currentCategory == 'software'}"
              ng-click="getProjectsByCategory('software')"
              href="" class="project-category">
              <span>Software</span>
            </a>-->
          </section>
        </section>
      </section>

      <div
  			class="projects-slider-reel projects-slider-content-reel"
  		>
  			<!--Slides-->
  			<div
  				class="projects-slide projects-slide-content container-alt container"
          ng-repeat="project in projects track by $index"
  				layout="column"
          itemscope itemtype="http://schema.org/WebSite"
  				layout-align="center center"
          ng-class="{
            'projects-slide-preview': preview,
            'projects-slide-active' : selectedIndexSlide == $index,
            'projects-slide-out' : movingOutIndexSlide == $index
          }"
  			>

  				<div class="projects-slide-content-inner container container-sm">

        		<h3 itemprop="interactivityType">{{project.type}}</h3>
  					<h1 ng-class="{'animated flipInX' : selectedIndexSlide == $index}" itemprop="name">
              <a ng-href="{{project.url}}" itemprop="url">{{project.name}}</a>
            </h1>
            <div class="projects-slider-nav" layout="row" layout-align="space-between center">
              <a ng-click="movePrevPhoto()" href=""><i class="icon-izq"></i></a>
              <a ng-click="moveNextPhoto()" href=""><i class="icon-der"></i></a>
            </div>
  					<p itemprop="description">{{project.description}}</p>
  					<a target="_blank" itemprop="url" ng-href="{{project.url}}" class="project-link">
  						<i class="icon-link"></i>
              <!--<img src="images/icono_proyectos6.png" alt="">-->
  					</a>

            <div ng-show="preview" class="action-btn-wrap action-btn-all">
              <a href="/projects" class="action-btn">Ver todos los proyectos</a>
            </div>

  				</div>
  			</div>

  		</div>
    </div>

		<ul class="projects-slider-bullets">
			<li ng-repeat="item in getNumber(projects.length) track by $index">
				<a href="" ng-class="{'active-bullet' : selectedIndexSlide == $index  }" ng-click="moveToProject($index)"></a>
			</li>
		</ul>

		<a ng-click="moveNextProjectAction()" href="" class="slide-next"></a>

	</div>
</div>
