<div class="projects-slider">
	<div
		class="projects-slider-viewport"
		layout="row"
    layout-sm="column"
		ng-style="style()"
		full-screen-wrapper
		>

    <div class="projects-slider-reel-wrapper projects-slider-images-reel-wrapper" flex="50" flex-sm="100">
  		<div class="projects-slider-reel projects-slider-images-reel">

  			<!--Slides(por proyecto)-->

  			<div
  				ng-repeat="photos in projectsPhotos | orderBy:reverse"
  				ng-style="style()"
  				full-screen-wrapper
  				class="projects-slide projects-slide-image"
  			>
  				<!--Fotos de proyecto-->
  				<div
  					ng-repeat="photo in photos track by $index"
  					ng-if="selectedProjectPhoto == $index"
  					class="projects-slide-image-wrapper"
  					data-image-index="0"
  				>
  					<div
  						style="background: url({{photo}}) no-repeat"
  						class="projects-slide-image-inner"
  					></div>

  				</div>
  			</div>

  		</div>
    </div>

    <div class="projects-slider-reel-wrapper projects-slider-content-reel-wrapper" flex="50" flex-sm="100">
  		<div
  			class="projects-slider-reel projects-slider-content-reel"
  		>
  			<!--Slides-->
  			<div
  				class="projects-slide projects-slide-content container-alt container"
  				ng-style="style()"
  				full-screen-wrapper
  				layout="column"
  				layout-align="center center"
  				data-content-index="0"
  			>
  				<div class="projects-slide-content-inner container container-sm">
  					<h3>UI/UX Design</h3>
  					<h1 ng-class="{'animated flipInX' : selectedIndexSlide == 0}"><a href="#">Yellow Transfers</a></h1>
  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem accusamus fugit, saepe, earum, illum esse sed obcaecati molestiae ducimus illo omnis! Dolores reiciendis sed non iure dolore tempore sit facere!</p>
  					<a href="#" class="project-link">
  						<img src="images/icono_proyectos6.png" alt="">
  					</a>
  				</div>
  			</div>

  			<div
  				class="projects-slide projects-slide-content container-alt container"
  				ng-style="style()"
  				full-screen-wrapper
  				layout="column"
  				layout-align="center center"
  				data-content-index="1"
  			>
  				<div class="projects-slide-content-inner container container-sm">
  					<h3>UI/UX Design</h3>
  					<h1 ng-class="{'animated flipInX' : selectedIndexSlide == 1}"><a href="#">Proyecto de prueba</a></h1>
  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem accusamus fugit, saepe, earum, illum esse sed obcaecati molestiae ducimus illo omnis! Dolores reiciendis sed non iure dolore tempore sit facere!</p>
  					<a href="#" class="project-link">
  						<img src="images/icono_proyectos6.png" alt="">
  					</a>
  				</div>
  			</div>

  		</div>
    </div>

		<div class="projects-slider-nav" layout="row" layout-align="space-between center">
			<a ng-click="movePrev()" href="#"><img src="images/flechaa.png" alt=""></a>
			<a ng-click="moveNextPhoto()" href="#"><img src="images/flechab.png" alt=""></a>
		</div>

		<ul class="projects-slider-bullets">
			<li ng-repeat="item in getNumber(itemsCount) track by $index">
				<a href="#" ng-class="{'active-bullet' : selectedIndexSlide == $index  }" ng-click="moveToProject($index)"></a>
			</li>
		</ul>

		<a ng-click="moveNextProject()" href="#" class="slide-next"></a>

	</div>
</div>
