<div
  class="contact-us"
  layout="column"
  layout-align="center center"
  ng-style="style()"
  itemscope itemtype="http://schema.org/ContactPoint"
  full-screen-wrapper>

  <meta itemprop="telephone" content="+(998) 254 03 47">
  <meta itemprop="email" content="admin@spaceshiplabs.com">
  <meta itemprop="address" content="Avenida Bonampak Calle Cereza #1 SM 2-A L 20 CP 77500 Cancún Quintana Roo, México">

  <div class="contact-us-content container center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Contáctanos</h1>
    <div data-wow-delay="0.8s" data-wow-duration="0.8s" class="wow fadeInUp">
       <p>
            Déjanos saber las necesidades de tu empresa.
       </p>
       <p>Estamos seguros que tenemos la mejor solución.</p>
    </div>
    <form name="contactForm" novalidate ng-submit="doContact(contactForm)">
      <input type="email" required ng-model="contactData.email" name="email" placeholder="Ingresar correo">
      <input type="hidden" required ng-model="contactData.message" name="message" value="Este es un mail desde divshot">
      <input type="hidden" required ng-model="contactData.name" name="name" value="Usuario generico">
      <input type="submit" value="ENVIAR">

      <section ng-if="contactError">
        <p class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.email"><span>*Este e-mail no es valido.</span></p>
        <p class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.required"><span>*Ingresa tu e-mail.</span></p>
        <!--<p class="contact-form-message contact-form-message-error" ng-show="contactForm.name.$error.required"><span>*Ingresa tu nombre.</span></p>
        <p class="contact-form-message contact-form-message-error" ng-show="contactForm.message.$error.required"><span>*Ingresa un mensaje.</span></p>-->
      </section>
      <p class="contact-form-message" ng-show="emailSent"><span>Gracias por enviar tu mensaje.</span></p>
      <p class="contact-form-message contact-form-message-error" ng-show="contactError"><span>*Hubo un error al enviar tu mensaje, intentalo de nuevo.</span></p>


    </form>

    <div class="social-icons">
      <a
        href="https://twitter.com/spaceshiplabs"
        target="_blank"
        itemprop="sameAs">
          <img src="images/twitter.png" alt="">
        </a>
      <a href="#" itemprop="sameAs">
        <img src="images/vine.png" alt="">
      </a>
      <a
        href="https://instagram.com/spaceshiplabs/"
        target="_blank"
        itemprop="sameAs">
        <img src="images/insta.png" alt="">
      </a>
      <a
        href="#"
        itemprop="sameAs">
        <img src="images/tumblr.png" alt="">
      </a>
      <a
        href="https://www.facebook.com/Spaceshiplabs/"
        target="_blank"
        itemprop="sameAs">
        <img src="images/fb.png" alt="">
      </a>
      <a
        href="https://www.youtube.com/channel/UCnUS9hy7A423mLrBsAXkzeQ"
        target="_blank"
        itemprop="sameAs">
        <img src="images/youtube.png" alt="">
      </a>

    </div>
  </div>
</div>
