<div
  class="contact-us"
  layout="column"
  layout-align="center center"
  ng-style="style()"
  itemscope itemtype="http://schema.org/Organization"
  full-screen-wrapper>

    <link itemprop="url" href="http://www.spaceshiplabs.com">
    <meta itemtype="logo" content="images/logo-og.png">
    <meta itemtype="address" content="Avenida Bonampak Calle Cereza #1 SM 2-A L 20 CP 77500 Cancún Q.Roo, México.">


  <div class="contact-us-content container center-content" itemscope itemtype="http://schema.org/ContactPoint">
    <meta itemprop="telephone" content="+(998) 254 03 47">
    <meta itemprop="email" content="admin@spaceshiplabs.com">
    <meta itemprop="address" content="Avenida Bonampak Calle Cereza #1 SM 2-A L 20 CP 77500 Cancún Quintana Roo, México">

    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Contáctanos</h1>
    <div data-wow-delay="0.8s" data-wow-duration="0.8s" class="wow fadeInUp">
       <p>
            Déjanos saber las necesidades de tu empresa.
       </p>
       <p>Estamos seguros que tenemos la mejor solución.</p>
    </div>
    <form name="contactForm" autocomplete="off" class="contact-form contact-form-partial" novalidate ng-submit="doContact(contactForm)">
      <!--ANIMATED STROKES-->
      <div class="contact-stroke contact-top-border wow leftToRight" data-wow-duration="1s" ></div>
      <div class="contact-stroke contact-bottom-border wow leftToRight" data-wow-duration="1s" data-wow-delay="1s"></div>
      <div class="contact-stroke contact-left-border wow upDown" data-wow-duration="1s"></div>
      <div class="contact-stroke contact-right-border wow upDown" data-wow-duration="1s" data-wow-delay="1s"></div>
      <!--END ANIMATED STROKES-->

      <section class="contact-table">
        <div layout="row">
          <div flex="50" class="contact-table-cell contact-table-cell-lt">
            <div class="contact-stroke contact-left-inner-border wow upDown" data-wow-duration="1s"></div>
            <input required ng-model="contactData.name" name="name" type="text" placeholder="Nombre">
            <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.name.$error.required"><span>*Ingresa tu nombre.</span></p>
          </div>
          <div flex="50" class="contact-table-cell contact-table-cell-half contact-table-cell-rt">
            <input type="email" required ng-model="contactData.email" name="email" placeholder="E-mail">
            <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.email"><span>*Este e-mail no es valido.</span></p>
            <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.required"><span>*Ingresa tu e-mail.</span></p>
          </div>
        </div>
        <div layout="row">
          <div flex="100"  class="contact-table-cell">
            <textarea required ng-model="contactData.message" name="message" placeholder="Mensaje" cols="30" rows="4"></textarea>
            <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.message.$error.required"><span>*Ingresa un mensaje.</span></p>
          </div>
        </div>
        <div layout="row">
          <div flex="100" class="contact-table-cell contact-table-cell-submit contact-table-cell-rb ">
            <input type="submit" value="Enviar">
            <div class="contact-table-cell-submit-on"><i class="icon-flecha"></i></div>
          </div>
        </div>
      </section>
    </form>

    <!--<section ng-if="contactError">
      <p class="contact-form-message contact-form-message-error" ng-show="contactForm.name.$error.required"><span>*Ingresa tu nombre.</span></p>
      <p class="contact-form-message contact-form-message-error" ng-show="contactForm.message.$error.required"><span>*Ingresa un mensaje.</span></p>
    </section>-->
    <p class="contact-form-message" ng-show="emailSent"><span>Gracias por enviar tu mensaje.</span></p>
    <p class="contact-form-message contact-form-message-error" ng-show="contactError"><span>*Hubo un error al enviar tu mensaje, intentalo de nuevo.</span></p>

    <div class="social-icons">
      <a
        href="https://twitter.com/spaceshiplabs"
        target="_blank"
        itemprop="sameAs">
          <i class="icon-tweet"></i>
        </a>
      <!--<a href="#" itemprop="sameAs">
        <img src="images/vine.png" alt="">
      </a>-->
      <a
        href="https://instagram.com/spaceshiplabs/"
        target="_blank"
        itemprop="sameAs">
        <i class="icon-insta"></i>
        <!--<img src="images/insta.png" alt="">-->
      </a>
      <!--<a
        href="#"
        itemprop="sameAs">
      </a>-->
      <a
        href="https://www.facebook.com/Spaceshiplabs/"
        target="_blank"
        itemprop="sameAs">
        <i class="icon-face"></i>
      </a>
      <a
        href="https://www.youtube.com/channel/UCnUS9hy7A423mLrBsAXkzeQ"
        target="_blank"
        itemprop="sameAs">
        <i class="icon-youtube"></i>
      </a>

    </div>
  </div>
</div>
