<div class="container section-title center-content">
	<h1><img src="images/logo_about_pop.png" alt=""> Acerca de nosotros</h1>
</div>

<div class="info-wrap ">

  <section class="info-block">
  	<div class="container center-content">
  		<div class="container-lg">
  			<h1 data-wow-duration="0.8s" class="wow fadeInUp bold-alt">Desarrollo de software</h1>
  			<p class="info-wrap-description"> para todo tipo de plataformas y dispositivos que no solo funcionan bien, si no que se ve bien</p>
  		</div>
  		<p>
  			<img class="screens-image" src="images/consejo_space.png" alt="">
  		</p>
  	</div>

  	<div class=" container-md center-content">
  		<p>En muy poco tiempo y gracias a importantes menciones de prensa de nuestro trabajo, a la obtención de importantes premios a nivel nacional y sobre todo al exito obtenido por nuestros clientes, estamos posicionados como una de las empresas lideres en desarrollo de software en México.</p>
  	</div>
  </section>

  <div class="info-block container-support">
  	<div class="container container-xxlg">
  		<div class="container-smd container-pulled-left">
  			<h1 data-wow-duration="0.8s" class="bold-alt wow fadeInUp">Soporte</h1>
  			<p>Nuestro enfoque es ofrecer un trato profesional pero amigable a nuestros clientes, esencial en esta era de la información. Es por esto que sin importar el tamaño de tu proyecto, ofrecemos lineas de comunicación directa, ya sea por teléfono, email, skype o whatsapp, siempre estamos ahi para ayudarte.</p>
  			<div layout="row" layout-align="space-between center" class="support-icons">
  				<img src="images/phone.png" alt="">
  				<img src="images/mail.png" alt="">
  				<img src="images/audifonos.png" alt="">
  				<img src="images/cel.png" alt="">
  			</div>
  			<div class="action-btn-wrap action-btn-wrap-center">
  				<a href="#" class="action-btn action-btn-alt">Ver más</a>
  			</div>
  		</div>
      <img src="images/soporte.png" class="support-card" alt="">
  	</div>
  </div>

  <div class="info-block">
  	<div layout="row" layout-sm="column" class="container container-xxlg container-no-padding guarantee" layout-align-sm="start start">
  		<section class="guarantee-img" flex="50" flex-sm="100">
  			<img src="images/yellow.png" alt="">
  		</section>
  		<section flex flex-sm="100" class="container container-normal container-md">
  			<h1 data-wow-duration="0.8s" class="bold-alt wow fadeInUp">Software con garantía</h1>
  			<p>Asi mismo para garantizar tu satisfacción y responder a una preocupación común en la industria del software, somos la primera empresa en ofrecer una garantía fisica de entrega. Esta garantia es creada para darte la seguridad de que tu proyecto sera terminado en los tiempos acordados.</p>
  			<div class="action-btn-wrap">
  				<a href="#" class="action-btn action-btn-alt">Ver más</a>
  			</div>
  		</section>
  	</div>
  </div>

  <div class="info-block">
  	<div class="container center-content">
  		<div class="container-md">
  			<p><img src="images/compu.png" alt=""></p>
  			<h1 data-wow-duration="0.8s" class="bold-alt wow fadeInUp">Mantenimiento sin costo</h1>
  			<p>De la misma manera, somos la unica empresa que ofrece 2 meses de mantenimiento gratis posterior a la entrega, asegurandote un optimo funcionamiento de tu app, página web o administrador incluso despues de haber pagado por el proyecto</p>
  			<div class="action-btn-wrap action-btn-wrap-center">
  				<a href="#" class="action-btn action-btn-alt">Ver más</a>
  			</div>
  		</div>
  	</div>
  </div>

  <div class="info-block">
  	<div layout="row" layout-sm="column" class="container container-xlg" layout-align="space-between center">
  		<section flex class="container-normal container-sm">
  			<h1 data-wow-duration="0.8s" class="bold-alt wow fadeInUp">Entrega</h1>
  			<p>Al contratar un servicio con SpaceshipLabs obtienes un kit donde incluimos el contrato firmado, tarjeta valida por 6 meses de mantenimiento, garantia de entrega y un respaldo fisico de tu proyecto.</p>
  			<div class="action-btn-wrap">
  				<a href="#" class="action-btn action-btn-alt">Ver más</a>
  			</div>
  		</section>
  		<section flex="50" flex-sm="100">
  			<img src="images/cajita.png" class="delivery-box" alt="">
  		</section>
  	</div>
  </div>

  <div class="info-block info-block-conclusion">
  	<div class="container center-content">
  		<div class="container-md">
  			<p><img src="images/icono6.png" alt=""></p>
  			<p>De esta manera esperamos que te sientas tranquilo y confiado de que al contratar un servicio con nosotros tu idea o negocio se encontraran en las mejores manos</p>
  		</div>
  	</div>
  </div>

</div>

<ng-include src="'views/contact-us.html'"></ng-include>
