<div class="container section-title center-content">
	<h1><i class="icon-velocidad"></i> Asesoria Gratuita</h1>
</div>

<div class="advice-view container container-xlg">
	<div layout="row" layout-wrap>
		<div flex="50" flex-xs="100" class="advice-column">
			<h1>Obtén <strong>asesoría gratuita</strong> sobre cómo llevar tu negocio al mundo digital.</h1>
			<hr class="mini-hr" />
			
			<br/>
			<p><strong>Mejora tus ventas, acorta tiempos de entrega, integra tus insumos con procesos operativos y escucha a tus clientes. Vende en línea, comunica tu esencia, crece tu negocio.</strong></p>

			<p class="alt-text">Háblanos sobre tus retos, detectemos las áreas de oportunidad y vamos a mejorarlas. <strong>SpaceshipLabs</strong> tiene una misión: implementar una estrategia de marketing integral, eficiente y rentable.</p>

			<h2>Te brindamos esta <strong class="hl-title">asesoría gratuita</strong> donde evaluaremos lo siguiente:</h2>

			<ul>
				<li>Estrategia actual y retos que enfrentas</li>
				<li>Áreas de oportunidad</li>
				<li>Captación de prospectos y generación de leads</li>
				<li>Análisis competitivo</li>
				<li>Operatividad del negocio</li>
				<li>Comunicación y branding de tu marca</li>
			</ul>

			<p class="meeting-icon-wrapper"><i class="icon-meeting"></i></p>

			<p>¿Te identificas con alguna? Queremos encontrar la mejor solución para ti, pero primero platícanos un poco sobre ti: Llena el formulario para agendar una reunión y conozcamos más sobre tu proyecto.</p>

			<h2><strong>¡Queremos platicar contigo!</strong></h2>

		</div>	
		
		<div flex="50" flex-xs="100" class="advice-column">
			<h1>¡HABLA CON EL <strong class="hl-title">ESPECIALISTA!</strong></h1>	

			<form action="#">
				<p><label for="name">Nombre*</label></p>
				<p>
					<input type="text" name="name" id="name">
				</p>

				<p><label for="email">Email*</label></p>
				<p>
					<input type="email" name="email" id="email">
				</p>

				<p><label for="phone">Teléfono*</label></p>
				<p>
					<input type="text" name="phone" id="phone">
				</p>

				<p><label for="company">Empresa*</label></p>
				<p>
					<input type="text" name="company" id="company">
				</p>

				<p><label for="companyUrl">URL de tu empresa*</label></p>
				<p>
					<input type="text" name="companyUrl" id="companyUrl">
				</p>

				<p><label for="name">Cargo de la empresa*</label></p>
				<p>
					<select name="#" id="#">
						<option value="CEO/ Director/ Presidente">CEO/ Director/ Presidente</option>
						<option value="Gerente/ Coordinador de marketing">Gerente/ Coordinador de marketing</option>
						<option value="Freelancer/ Asesor Independiente">Freelancer/ Asesor Independiente</option>
						<option value="Gerente/ Coordinador de Ventas">Gerente/ Coordinador de Ventas</option>
						<option value="Emprendedor">Emprendedor</option>
						<option value="Estudiante">Estudiante</option>
					</select>
				</p>

		    <div class="action-btn-wrap">
		      <button class="action-btn action-btn-alt" type="submit">PROGRAMAR ASESORÍA</a>
		    </div>
			</form>

		</div>
	</div>
</div>
