<div class="container section-title center-content">
	<h1><img src="/images/awards.png" alt=""> Awards</h1>
</div>

<div class="awards">
	
	<div class="award gov-lab container-sm center-content">
		<div class="award-inner" layout="column" layout-align="center center">
			<p><img src="/images/open_data.png" alt=""></p>
			<h3>Open Data 500</h3>
			<p><strong>Fuimos elegidos por la presidencia de la Répública de México...</strong></p>
		</div>
	</div>
	
	<div layout="row">
		<div flex="50" class="viajes-claros award center-content container">
			<div class="award-inner" layout="column" layout-align="center center">
				<p><img src="/images/viajesclaros2.png" alt=""></p>
				<h3>Viajes Claros</h3>
				<p><strong>En el 2014 fuimos elegidos ganadores por el IFAI...</strong></p>			
			</div>
		</div>
		<div flex="50" class="codeando award center-content container">
			<div class="award-inner" layout="column" layout-align="center center">
				<p><img src="/images/codeando.png" alt=""></p>
				<h3>Nueva app Yellow Transfers</h3>
				<p><strong>Participante en iniciativa de datos abiertos</strong></p>						
			</div>
		</div>
	</div>

	<div layout="row">
		<div flex="30" class="angelhack award center-content container">
			<div class="award-inner" layout="column" layout-align="center center">
					<p><img src="/images/hack.png" alt=""></p>
					<h3>Angelhack México</h3>
					<p><strong>Participante en hackatón</strong></p>									
			</div>
		</div>
		<div flex="70" class="contratobook award center-content container">
			<div class="award-inner" layout="column" layout-align="center center">
				<p><img src="/images/book.png" alt=""></p>
				<h3>Contrato-book</h3>
				<p><strong>Aplicación</strong></p>	
			</div>
		</div>
	</div>


</div>
<ng-include src="'/views/contact-us.html'"></ng-include>