<div class="container section-title center-content">
	<h1>
    <i class="icon-awards"></i> Prensa y reconocimientos</h1>
</div>

<div class="awards container container-xlg">

  <div layout="row" layout-sm="column">

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/opendata.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">Open Data 500</a></h3>
            <p itemprop="award">Fuimos seleccionados por Presidencia de la República como una de las 100 empresas en México que buscan el uso e impacto de datos abiertos. La red OD500 incentiva la participación ciudadana para el análisis de datos abiertos en México.</p>
          </div>
        </div>
      </div>
    </div>

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/viajes.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">Viajes Claros</a></h3>
            <p itemprop="award">En el 2014 fuimos ganadores del concurso #RetoViajesTransparentes por parte del Instituto Federal de Acceso a la Información y Protección de Datos (IFAI). La aplicación web utiliza datos abiertos para hacer pública la información sobre los viajes de servidores públicos.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div layout="row" layout-sm="column">

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/angel.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">Angel Hack</a></h3>
            <p itemprop="award"> En el 2014 participamos en el Hackatón de la Ciudad de México organizado por AngelHack, organización que incentiva a la comunidad de creadores de código a inventar nuevas herramientas tecnológicas para hacer un cambio en el mundo.</p>
          </div>
        </div>
      </div>
    </div>

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/gasolina.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">Gasolinapp</a></h3>
            <p itemprop="award">Una iniciativa sin fines de lucro para empoderar a los consumidores con la información pública de gasolineras y sus respectivas verificaciones de PROFECO. </p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div layout="row" layout-sm="column">

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/contrato.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">ContratoBook</a></h3>
            <p itemprop="award">Este prototipo utiliza la base de datos de Compranet (Secretaría de la Función pública) para poder consultar rápidamente el histórico de contratos. Esta iniciativa permitió al Periódico Universal investigar el gobierno de Guerrero 2014.</p>
          </div>
        </div>
      </div>
    </div>

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/codeando.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">Codeando México</a></h3>
            <p itemprop="award">Hemos participado en varias iniciativas con Codeando México. CM es un espacio de innovación abierta de interacción entre organizaciones de la Sociedad Civil y la comunidad tecnológica para proponer soluciones a temas cívicos. </p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div layout="row" layout-sm="column">

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/nomas.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">NoMásPoderMX</a></h3>
            <p itemprop="award">Plataforma que se desarrolló para oponerse a las leyes secundarias en telecomunicaciones. Promueve la participación ciudadana permitiendo rápidamente encontrar al funcionario público; visualizar sus redes sociales y enviarles un tweet.</p>
          </div>
        </div>
      </div>
    </div>

    <div flex flex-sm="100" class="award gov-lab  center-content">
      <div class="award-inner">
        <a href="#" class="absolute-link"></a>
        <div class="award-logo" layout="column" layout-align="center center">
          <p><a><img src="images/awards/premio.png" alt="Open Data 500"></a></p>
        </div>
        <div class="award-content" layout="column" layout-align="center center">
          <div class="award-content-inner">
            <span class="award-border-top award-border-horizontal"></span>
            <span class="award-border-left award-border-vertical"></span>
            <span class="award-border-right award-border-vertical"></span>
            <span class="award-border-bottom award-border-horizontal"></span>
            <h3 data-wow-duration="0.8s" class="wow fadeInUp">Premio a la innovación en transparencia para la mejora de la gestión institucional</a></h3>
            <p itemprop="award">Colaborando con IMCO, obtuvimos el premio por iniciativas Mejora tu Escuela y Acceso Ciudadano a la Información de Finanzas Públicas.</p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!--
	<div class="award gov-lab container-sm container center-content">
		<a href="#" class="absolute-link"></a>
		<div class="award-inner" layout="column" layout-align="center center">
			<p><a><img src="images/open_data.png" alt="Open Data 500"></a></p>
			<h3 data-wow-duration="0.8s" class="wow fadeInUp">Open Data 500</a></h3>
			<p><a><strong itemprop="award">Fuimos elegidos por la presidencia de la Répública de México...</strong></a></p>
		</div>
	</div>

	<div layout="row" layout-sm="column" layout-sm="column">
		<div flex="50" flex-sm="100" class="viajes-claros award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
				<p><a><img src="images/viajesclaros2.png" alt="Viajes Claros"></a></p>
				<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a>Viajes Claros</a></h3>
				<p><a><strong itemprop="award">En el 2014 fuimos elegidos ganadores por el IFAI...</strong></a></p>
			</div>
		</div>
		<div flex="50" flex-sm="100" class="codeando award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
				<p><a><img src="images/codeando.png" alt="Yellow Transfers"></a></p>
				<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a>Nueva app Yellow Transfers</a></h3>
				<p><a><strong itemprop="award">Participante en iniciativa de datos abiertos</strong></a></p>
			</div>
		</div>
	</div>

	<div layout="row" layout-sm="column">
		<div flex="30" flex-sm="100" class="angelhack award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
					<p><a><img src="images/hack.png" alt="Angel Hack México"></a></p>
					<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a>Angelhack México</a></h3>
					<p><a><strong itemprop="award">Participante en hackatón</strong></a></p>
			</div>
		</div>
		<div flex="70" flex-sm="100" class="contratobook award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
				<p><a><img src="images/book.png" alt="Contrato Book"></a></p>
				<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a itemprop="award">Contrato-book</a></h3>
				<p><a><strong>Aplicación</strong></a></p>
			</div>
		</div>
	</div>
  -->

</div>
<ng-include src="'views/partials/contact-us.html'"></ng-include>
