<div class="container section-title center-content">
	<h1><img src="images/awards.png" alt=""> Awards</h1>
</div>

<div class="awards">
	
	<div class="award gov-lab container-sm center-content">
		<a href="#" class="absolute-link"></a>
		<div class="award-inner" layout="column" layout-align="center center">
			<p><a href="#"><img src="images/open_data.png" alt=""></a></p>
			<h3 data-wow-duration="0.8s" class="wow fadeInUp">Open Data 500</a></h3>
			<p><a href="#"><strong>Fuimos elegidos por la presidencia de la Répública de México...</strong></a></p>
		</div>
	</div>
	
	<div layout="row">
		<div flex="50" class="viajes-claros award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
				<p><a href="#"><img src="images/viajesclaros2.png" alt=""></a></p>
				<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a href="#">Viajes Claros</a></h3>
				<p><a href="#"><strong>En el 2014 fuimos elegidos ganadores por el IFAI...</strong></a></p>			
			</div>
		</div>
		<div flex="50" class="codeando award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
				<p><a href="#"><img src="images/codeando.png" alt=""></a></p>
				<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a href="#">Nueva app Yellow Transfers</a></h3>
				<p><a href="#"><strong>Participante en iniciativa de datos abiertos</strong></a></p>						
			</div>
		</div>
	</div>

	<div layout="row">
		<div flex="30" class="angelhack award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
					<p><a href="#"><img src="images/hack.png" alt=""></a></p>
					<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a href="#">Angelhack México</a></h3>
					<p><a href="#"><strong>Participante en hackatón</strong></a></p>									
			</div>
		</div>
		<div flex="70" class="contratobook award center-content container">
			<a href="#" class="absolute-link"></a>
			<div class="award-inner" layout="column" layout-align="center center">
				<p><a href="#"><img src="images/book.png" alt=""></a></p>
				<h3 data-wow-duration="0.8s" class="wow fadeInUp"><a href="#">Contrato-book</a></h3>
				<p><a href="#"><strong>Aplicación</strong></a></p>	
			</div>
		</div>
	</div>


</div>
<ng-include src="'views/contact-us.html'"></ng-include>