<div class="container section-title section-title-blog center-content">
  <h1><img src="images/icono_periodico.png" alt=""> Noticias recientes</h1>

  <div class="section-title-options" >
    <section layout="row" layout-align="space-between start" class="container container-xlg container-no-padding">
      <form autocomplete="off" action="/blog" method="GET" flex="20" flex-sm="70">
        <section layout="row" layout-align="center center">
          <a href="#" flex="20"><img src="images/buscar2.png" alt=""></a>
          <md-input-container flex>
              <label>Busca una noticia</label>
            <input ng-model="s" name="s" type="text">
          </md-input-container>
        </section>
      </form>
      <section class="thumbsViewContainer" ng-init="thumbsView = false" flex-sm="30">
        <a href='' ng-click="thumbsView = false" class="thumbsView" ng-class="{'active':!thumbsView}">v2</a>
        <a href='' ng-click="thumbsView = true" class="thumbsView" ng-class="{'active':thumbsView}">v1</a>
      </section>
    </section>
  </div>
</div>

<div ng-show="!loadedPosts" class="container" layout="row" layout-sm="column" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-show="loadedPosts" class="blog">
  <ng-switch on="thumbsView">

    <!--START THUMBS VIEW-->
    <div ng-switch-when="true" class="blog-thumbs-view">

      <div class="news-wrapper" layout="row" layout-sm="column">

        <div
          ng-repeat="entry in entries | limitTo:1:0"
          class="news-item"
          ng-style="getMainPostThumb(entry,winSizeSingle)"
          flex
          flex-sm="100">

          <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
          <div class="news-item-excerpt">
            <div class="news-item-excerpt-inner">
              <!-- <h4>{{entry.title}}</h4>
              <p>
                <span  class="binded-span" ng-bind-html="entry.excerpt | limitTo:80"></span> <span ng-if="entry.excerpt.length > 80">...</span>
              </p> -->
              <p>{{ entry.date | date:'dd - MMMM - yyyy' }}</p>
              <p>{{entry.title}}</p>
              <p><i class="cyan-arrow"></i>Leer más</p>
            </div>
          </div>
        </div>


      </div>

      <div class="news-wrapper" layout="row" layout-sm="column">

        <div
          ng-repeat="entry in entries | limitTo:2:1"
          class="news-item"
          ng-style="getPostThumb(entry,winSize)"
          flex="50"
          flex-sm="100">

          <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
          <div class="news-item-excerpt">
            <div class="news-item-excerpt-inner">
              <!-- <h4>{{entry.title}}</h4>
              <p>
                <span class="binded-span" ng-bind-html="entry.excerpt | limitTo:80"></span> <span ng-if="entry.excerpt.length > 80">...</span>
              </p> -->
              <p>{{ entry.date | date:'dd - MMMM - yyyy' }}</p>
              <p>{{entry.title}}</p>
              <p><i class="cyan-arrow"></i>Leer más</p>
            </div>
          </div>
        </div>

      </div>

      <div class="news-wrapper" layout="row" layout-sm="column">

        <div
          ng-repeat="entry in entries | limitTo:4:3"
          class="news-item"
          ng-style="getPostThumb(entry,winSize)"
          flex="50"
          flex-sm="100">

          <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
          <div class="news-item-excerpt">
            <div class="news-item-excerpt-inner">
              <!-- <h4>{{entry.title}}</h4>
              <p>
                <span class="binded-span" ng-bind-html="entry.excerpt | limitTo:80"></span> <span ng-if="entry.excerpt.length > 80">...</span>
              </p> -->
              <p>{{ entry.date | date:'dd - MMMM - yyyy' }}</p>
              <p>{{entry.title}}</p>
              <p><i class="cyan-arrow"></i>Leer más</p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--END THUMBS VIEW-->


    <!--START LIST VIEW-->
    <div
      ng-switch-when="false"
      class="blog-list-view container container-xlg"
      layout="row"
      layout-sm="column"
      layout-align="space-between start">

      <div class="blog-list" flex="70" flex-sm="100">
        <div
            ng-repeat="entryItem in entries"
            class="blog-list-card">

          <div class="card-content card-content-list">
            <h4><a ng-href="/{{entryItem.slug}}">{{entryItem.title}}</a></h4>
            <p class="card-content-data">
              <small><img src="images/calendario.png" alt=""> Date {{entryItem.date}}</small> | <strong>Author: {{entryItem.author.nickname}}</strong>
            </p>
            <div class="card-content-preview" layout="row" layout-sm="column" layout-align="space-between start">

              <div
                flex-sm="100"
                class="card-thumb-circle"
                ng-style="getPostThumb(entryItem)">
                <a ng-href="/{{entryItem.slug}}" class="absolute-link"></a>
              </div>

              <div flex flex-sm="100">
                <p class="card-content-excerpt">
                  <span ng-bind-html="entryItem.excerpt | limitTo:300"></span> <span ng-if="entryItem.excerpt.length > 300">...</span>
                </p>
              </div>
            </div>
            <div class="action-btn-wrap">
              <a ng-href="/{{entryItem.slug}}" class="action-btn action-btn-alt">Ver más</a>
            </div>
          </div>

        </div>

      </div>

      <div class="blog-sidebar" flex="25" flex-sm="100">

        <div class="blog-sidebar-collections">
          <h4>Categorías</h4>
          <div layout="row" layout-align="space-between start" layout-wrap>
            <a
              ng-repeat="category in categories"
              flex="45"
              ng-href="/blog/category/{{category.slug}}"
              class="blog-sidebar-collection">{{category.name}}</a>

          </div>
        </div>

        <!--<div class="blog-sidebar-collections">
          <h4>Archivo</h4>
          <div layout="row" layout-align="space-between start" layout-wrap>
            <a flex="45" href="#" class="blog-sidebar-collection">2015</a>
            <a flex="45" href="#" class="blog-sidebar-collection">2014</a>
            <a flex="45" href="#" class="blog-sidebar-collection">2013</a>
            <a flex="45" href="#" class="blog-sidebar-collection">2012</a>

          </div>
        </div>-->


        <div class="fb-page" data-href="https://www.facebook.com/Spaceshiplabs" data-width="240" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Spaceshiplabs"><a href="https://www.facebook.com/Spaceshiplabs">Spaceshiplabs</a></blockquote></div></div>

      </div>

    </div>
    <!--END LIST VIEW-->

  </ng-switch>

  <div class="container container-xlg">
    <nav class="pagination-blog" ng-hide='!pages || pages <= 1' layout="row" >
      <a
        ng-if="page > 1"
        ng-href="{{baseUrl}}/page/{{page-1}}{{searchTerm}}">
        &lt;
      </a>
      <a
        ng-repeat="itemPage in getRange(pages) | limitTo:entriesLimit:(endPagination-itemsPagination) track by $index"
        ng-class="{'current-page': (itemPage) === page}"
        ng-href="{{baseUrl}}/page/{{itemPage}}{{searchTerm}}">
        {{itemPage}}
      </a>
      <a
        ng-if="page < pages"
        ng-href="{{baseUrl}}/page/{{incrementPage(page)}}{{searchTerm}}">
        &gt;
      </a>
    </nav>
  </div>

</div>
<ng-include src="'views/contact-us.html'"></ng-include>
