<div class="container section-title section-title-blog center-content">
	<h1><img src="images/icono_periodico.png" alt=""> Noticias recientes</h1>

	<div class="section-title-options" >
		<section layout="row" class="container container-xlg container-no-padding">
		  <form flex="20" flex-sm="100">
				<section layout="row" layout-align="center center">
			  	<a href="#" flex="20"><img src="images/buscar2.png" alt=""></a>
			    <md-input-container flex>
				      <label>Busca una noticia</label>
			      <input ng-model="user.email" type="text">
			    </md-input-container>
				</section>
		  </form>
	  </section>
	</div>
</div>

<div class="blog">
	<div class="news-wrapper" layout="row" layout-sm="column">
	  <div
	    class="news-item"
	    style="background: url(images/web1.jpg) no-repeat"
	    flex
	    flex-sm="100">

	    <a href="/single" class="absolute-link"></a>
	    <div class="news-item-excerpt">
	    	<h4>Nueva app Yellow Transfers</h4>
	      <p>Lanzamiento rediseño mimbu</p>
	    </div>
	  </div>
	</div>

	<div class="news-wrapper" layout="row" layout-sm="column">

	  <div
	    class="news-item"
	    style="background: url(images/web2.jpg) no-repeat"
	    flex="50"
	    flex-sm="100">

	    <a href="/single" class="absolute-link"></a>
	    <div class="news-item-excerpt">
	     <h4>Nueva app Yellow Transfers</h4>
	     <p>Lanzamiento rediseño mimbu</p>
	    </div>

	  </div>
	  <div
	    class="news-item"
	    style="background: url(images/web3.jpg) no-repeat"
	    flex="50"
	    flex-sm="100">

	    <a href="/single" class="absolute-link"></a>
	    <div class="news-item-excerpt">
	     <h4>App en proceso</h4>
	     <p>Lanzamiento rediseño mimbu</p>
	    </div>
	  </div>

	</div>

	<div class="news-wrapper" layout="row" layout-sm="column">

	  <div
	    class="news-item"
	    style="background: url(images/web4.jpg) no-repeat"
	    flex="30"
	    flex-sm="100">

	    <a href="/single" class="absolute-link"></a>
	    <div class="news-item-excerpt">
	     <h4>Nueva app Yellow Transfers</h4>
	     <p>Lanzamiento rediseño mimbu</p>
	    </div>

	  </div>

	  <div
	    class="news-item"
	    style="background: url(images/web5.jpg) no-repeat"
	    flex="70"
	    flex-sm="100">

	    <a href="/single" class="absolute-link"></a>
	    <div class="news-item-excerpt">
	     <h4>App en proceso</h4>
	     <p>Lanzamiento rediseño mimbu</p>
	    </div>
	  </div>

	</div>

</div>
<ng-include src="'views/contact-us.html'"></ng-include>
