<div class="container section-title section-title-blog center-content">
	<h1><img src="images/icono_periodico.png" alt=""> Noticias recientes</h1>

	<div class="section-title-options" >
		<section layout="row" class="container container-xlg container-no-padding">
		  <form flex="20" flex-sm="100">
				<section layout="row" layout-align="center center">
			  	<a href="#" flex="20"><img src="images/buscar2.png" alt=""></a>
			    <md-input-container flex>
				      <label>Busca una noticia</label>
			      <input ng-model="user.email" type="text">
			    </md-input-container>
				</section>
		  </form>
	  </section>
	</div>
</div>

<div class="blog">
	<div class="news-wrapper" layout="row" layout-sm="column">

    <div
      ng-repeat="entry in entries | limitTo:1:0"
      class="news-item"
      ng-style="{ 'background': 'url(' + entry.thumbnail_images.full.url + ') center no-repeat' }"
      ng-class="{ 'news-item-default' : !entry.thumbnail_images.full.url  }"
      flex
      flex-sm="100">

      <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
      <div class="news-item-excerpt">
        <div class="news-item-excerpt-inner">
          <h4>{{entry.title}}</h4>
          <p>
            <span ng-bind-html="entry.excerpt | limitTo:80"></span> <span ng-if="entry.excerpt.length > 80">...</span>
          </p>
        </div>
      </div>
    </div>


	</div>

	<div class="news-wrapper" layout="row" layout-sm="column">

    <div
      ng-repeat="entry in entries | limitTo:2:1"
      class="news-item"
      ng-style="

        entry.thumbnail_images.full.url && { 'background': 'url(' + entry.thumbnail_images.full.url + ') center no-repeat' }
        ||
        !entry.thumbnail_images.full.url && { 'background': 'url(' + entry.attachments[0].images.full.url + ') center no-repeat' }
      "
      flex="50"
      flex-sm="100">

      <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
      <div class="news-item-excerpt">
        <div class="news-item-excerpt-inner">
          <h4>{{entry.title}}</h4>
          <p>
            <span ng-bind-html="entry.excerpt | limitTo:80"></span> <span ng-if="entry.excerpt.length > 80">...</span>
          </p>
        </div>
      </div>
    </div>

	</div>

	<div class="news-wrapper" layout="row" layout-sm="column">

    <div
      ng-repeat="entry in entries | limitTo:4:3"
      class="news-item"
      ng-style="

        entry.thumbnail_images.full.url && { 'background': 'url(' + entry.thumbnail_images.full.url + ') center no-repeat' }
        ||
        !entry.thumbnail_images.full.url && { 'background': 'url(' + entry.attachments[0].images.full.url + ') center no-repeat' }
      "
      flex="50"
      flex-sm="100">

      <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
      <div class="news-item-excerpt">
        <div class="news-item-excerpt-inner">
          <h4>{{entry.title}}</h4>
          <p>
            <span ng-bind-html="entry.excerpt | limitTo:80"></span> <span ng-if="entry.excerpt.length > 80">...</span>
          </p>
        </div>
      </div>
    </div>

	</div>

</div>
<ng-include src="'views/contact-us.html'"></ng-include>
