<div class="container section-title center-content">
  <h1>
    <i class="icon-contacto"></i> Contacto
  </h1>
</div>
<div class="contact-container container container-xlg" itemscope itemtype="http://schema.org/ContactPoint">

  <form hide-gt-sm show-sm name="contactForm" autocomplete="off" novalidate ng-submit="doContact(contactForm)">
    <section class="contact-table contact-table-mobile">
      <div class="contact-table-cell contact-table-cell-lt">
        <p><strong>TELÉFONO</strong></p>
        <p itemprop="telephone">+(998) 254 03 47</p>
      </div>
      <div class="contact-table-cell contact-table-cell-lm" rowspan="2">
        <p><strong>E-MAIL</strong></p>
        <p itemprop="email">admin@spaceshiplabs.com</p>
      </div>
      <div class="contact-table-cell contact-table-cell-lb" rowspan="2">
        <p><strong>UBICACIÓN</strong></p>
        <p itemprop="address">Avenida Bonampak Calle Cereza #1 SM 2-A L 20 CP 77500 Cancún Quintana Roo, México</p>
      </div>
      <div class="contact-table-cell">
        <h2>Escríbenos</h2>
        <h2><span>para desarrollar tu proyecto</span></h2>
      </div>
      <div class="contact-table-cell contact-table-cell-rm">
        <input required ng-model="contactData.name" name="name" type="text" placeholder="Nombre">
        <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.name.$error.required"><span>*Ingresa tu nombre.</span></p>
      </div>
      <div class="contact-table-cell contact-table-cell-rm">
        <input type="email" required ng-model="contactData.email" name="email" placeholder="E-mail">
        <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.email"><span>*Este e-mail no es valido.</span></p>
        <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.required"><span>*Ingresa tu e-mail.</span></p>
      </div>
      <div class="contact-table-cell contact-table-cell-rm">
        <textarea required ng-model="contactData.message" name="message" placeholder="Mensaje" cols="30" rows="10"></textarea>
        <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.message.$error.required"><span>*Ingresa un mensaje.</span></p>
      </div>
      <div class="contact-table-cell contact-table-cell-submit contact-table-cell-rb ">
        <input type="submit" value="Enviar">
        <div class="contact-table-cell-submit-on"><i class="icon-flecha"></i></div>
      </div>
    </section>
  </form>

  <form class="contact-form" hide-sm name="contactForm" autocomplete="off" novalidate ng-submit="doContact(contactForm)">

    <!--ANIMATED STROKES-->
    <div class="contact-stroke contact-top-border wow leftToRight" data-wow-duration="1s" ></div>
    <div class="contact-stroke contact-bottom-border wow leftToRight" data-wow-duration="1s" data-wow-delay="1s"></div>
    <div class="contact-stroke contact-left-border wow upDown" data-wow-duration="1s"></div>
    <div class="contact-stroke contact-right-border wow upDown" data-wow-duration="1s" data-wow-delay="1s"></div>
    <!--END ANIMATED STROKES-->

    <table class="contact-table">
      <tr>
        <td class="contact-table-cell contact-table-cell-lt">

          <div class="contact-stroke contact-left-inner-border wow upDown" data-wow-duration="0.2s" data-wow-delay="0.5s"></div>

          <p><strong>TELÉFONO</strong></p>
          <p itemprop="telephone">+(998) 254 03 47</p>
        </td>
        <td class="contact-table-cell contact-table-cell-half contact-table-cell-rt">
          <h2>Escríbenos</h2>
          <h2><span>para desarrollar tu proyecto</span></h2>
        </td>
      </tr>
      <tr>
        <td class="contact-table-cell contact-table-cell-lm" rowspan="2">

          <div class="contact-stroke contact-left-middle-inner-border wow upDown" data-wow-duration="0.2s" data-wow-delay="0.6s"></div>

          <p><strong>E-MAIL</strong></p>
          <p itemprop="email">admin@spaceshiplabs.com</p>
        </td>
        <td class="contact-table-cell contact-table-cell-rm">
          <input required ng-model="contactData.name" name="name" type="text" placeholder="Nombre">
          <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.name.$error.required"><span>*Ingresa tu nombre.</span></p>
        </td>
      </tr>
      <tr>
        <td class="contact-table-cell contact-table-cell-rm">
          <input type="email" required ng-model="contactData.email" name="email" placeholder="E-mail">
          <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.email"><span>*Este e-mail no es valido.</span></p>
          <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.email.$error.required"><span>*Ingresa tu e-mail.</span></p>
        </td>
      </tr>
      <tr>
        <td class="contact-table-cell contact-table-cell-lb" rowspan="2">

          <div class="contact-stroke contact-left-bottom-inner-border wow upDown" data-wow-duration="0.4s" data-wow-delay="0.7s"></div>

          <p><strong>UBICACIÓN</strong></p>
          <p itemprop="address">Avenida Bonampak Calle Cereza #1 SM 2-A L 20 CP 77500 Cancún Quintana Roo, México</p>
        </td>
        <td class="contact-table-cell contact-table-cell-rm">
          <textarea required ng-model="contactData.message" name="message" placeholder="Mensaje" cols="30" rows="10"></textarea>
          <p ng-if="contactError" class="contact-form-message contact-form-message-error" ng-show="contactForm.message.$error.required"><span>*Ingresa un mensaje.</span></p>
        </td>
      </tr>
      <tr>
        <td class="contact-table-cell contact-table-cell-submit contact-table-cell-rb ">
          <input type="submit" value="Enviar">
          <div class="contact-table-cell-submit-on"><i class="icon-flecha"></i></div>
        </td>
      </tr>
    </table>
  </form>

  <!--<section ng-if="contactError">
    <p class="contact-form-message contact-form-message-error" ng-show="contactForm.name.$error.required"><span>*Ingresa tu nombre.</span></p>
    <p class="contact-form-message contact-form-message-error" ng-show="contactForm.message.$error.required"><span>*Ingresa un mensaje.</span></p>
  </section>-->

  <p class="contact-form-message contact-form-final-message" ng-show="emailSent"><span><i class="icon-about"></i> Gracias por enviar tu mensaje.</span></p>
  <p class="contact-form-message contact-form-message-error contact-form-final-message" ng-show="contactError"><span>*Hubo un error al enviar tu mensaje, intentalo de nuevo.</span></p>

  <div ng-show="loadingContact" class="container" layout="row" layout-sm="column" layout-align="center center">
    <img src="images/loader2.gif" alt="">
  </div>

</div>

<div id="map-contact"></div>

