<md-toolbar ng-class="{'transparent-head': isHome, 'fixed-head': scrolled, 'dropdown-active': dropdownActive}" fixed-header class='toolbar-head md-tall'>
  <div class="md-toolbar-tools container container-xlg nopadding" layout-wrap layout-align="space-between center" layout='row' layout-sm="column">

      <div id="button-menu-mobile" ng-click="toggleSidebar()" flex="10" flex-gt-md="30">
        <hr><hr><hr>
      </div>

      <a href="/" class='logo' flex='20' flex-sm='50' >
        <img ng-if="!scrolled" src="images/logo.png" />
        <img ng-if="scrolled" src="images/nave.png" />
      </a>

      <div class="menu-wrapper" flex="80" flex-sm="30" >
        <nav class="menu" layout="row" layout-align="end center">
          <ul>
            <!--<li><a href="/">HOME</a></li>-->
            <li><a href="/about-us">ACERCA DE</a></li>
            <li><a href="/team">EQUIPO</a></li>
            <li><a href="/projects">PROYECTOS</a></li>
            <li ng-mouseenter="dropdownActive = true" ng-mouseleave="dropdownActive = false">
              <a href="#">SERVICIOS</a>
              <ul layout="row" layout-align="space-between center">
                <!-- <li flex="20" class="services-item">
                  <div>
                    <a href="/ui-ux" class="absolute-link"></a>
                    <h5>Software</h5>
                  </div>
                </li> -->
                <li flex="20" class="services-item services-item-ui wow" data-wow-delay="0s" ng-class="{'fadeInDown animated':dropdownActive}">
                  <div>
                    <a href="/ui-ux" class="absolute-link"></a>
                    <h5>UI/UX Design</h5>
                  </div>
                </li>
                <li flex="20" class="services-item services-item-branding wow" data-wow-delay=".1s" ng-class="{'fadeInDown animated':dropdownActive}">
                  <div >
                    <a href="/ui-ux" class="absolute-link"></a>
                    <h5>Branding</h5>
                  </div>
                </li>
                <li flex="20" class="services-item services-item-marketing wow" data-wow-delay=".2s" ng-class="{'fadeInDown animated':dropdownActive}">
                  <div >
                    <a href="/ui-ux" class="absolute-link"></a>
                    <h5>Marketing</h5>
                  </div>
                </li>
                <li flex="20" class="services-item services-item-software wow" data-wow-delay=".3s" ng-class="{'fadeInDown animated':dropdownActive}">
                  <div >
                    <a href="/ui-ux" class="absolute-link"></a>
                    <h5>Software</h5>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="/awards">PRENSA</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li>
              <a href="#"><img class="spaces-link-menu" src="images/spaces.png" /></a>
            </li>
            <li><a href="/contact"><span>CONTACTO</span></a></li>
          </ul>
        </nav>
      </div>

  </div>
</md-toolbar>
