<md-toolbar ng-class="{'transparent-head': isHome, 'fixed-head': scrolled, 'dropdown-active': dropdownActive}" fixed-header class='toolbar-head md-tall'>
  <div
    class="md-toolbar-tools container container-xlg nopadding"
    layout-wrap
    layout-align="space-between center"
    layout-align-sm="space-between center"
    layout='row'
    layout-sm="column">

      <div id="button-menu-mobile" ng-click="toggleSidebar()" flex="10" flex-gt-md="30">
        <hr><hr><hr>
      </div>

      <a href="/" class='logo' flex='20' flex-xs='50' >
        <img ng-if="!scrolled" src="images/logo.png" />
        <!--<img ng-if="scrolled" src="images/nave.png" />-->
        <i ng-if="scrolled" class="icon-nave"></i>
      </a>

      <div class="menu-wrapper" flex="80" flex-xs="30" >
        <nav class="menu" layout="row" layout-align="end center">
          <ul class="social-menu" ng-show="socialMenu">
            <li><a>COMPARTE ESTO EN:</a></li>
            <li><a href=""><i class="icon-face"></i></a></li>
            <li><a href=""><i class="icon-insta"></i></a></li>
            <li><a href=""><i class="icon-linkedin"></i></a></li>
            <li><a href=""><i class="icon-whatsapp"></i></a></li>
          </ul>
          <ul ng-show="!socialMenu">
            <li>
              <a>ACERCA DE</a>
              <ul>
                <li><a href="/acerca-de-nosotros">Nosotros</a></li>
                <li><a href="/nuestro-equipo">Equipo espacial</a></li>
                <!--<li><a href="#">Hacktivismo</a></li>-->
              </ul>
            </li>
            <li><a href="/proyectos">PROYECTOS</a></li>
            <li>
              <a>SERVICIOS</a>
              <ul>
                <li itemscope itemtype="http://schema.org/Service">
                  <a href="/ui-ux" itemprop="name">UI/UX &amp; Design</a>
                </li>
                <li itemscope itemtype="http://schema.org/Service">
                  <a href="/marketing" itemprop="name">Marketing</a>
                </li>
                <li itemscope itemtype="http://schema.org/Service">
                  <a href="/software" itemprop="name">Software</a>
                </li>
              </ul>
            </li>
            <li><a href="/prensa">PRENSA</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li>
              <a href="/spacees"><img class="spacees-link-menu" src="images/spacees-menu.png" /></a>
            </li>
            <li><a class="contact-menu-item" href="/contacto"><span>CONTACTO</span></a></li>
          </ul>
        </nav>
      </div>

  </div>
</md-toolbar>
