<md-toolbar ng-class="{'transparent-head': isHome, 'fixed-head': scrolled, 'dropdown-active': dropdownActive}" fixed-header class='toolbar-head md-tall transparent-head'>
  <div
    class="md-toolbar-tools container container-xlg nopadding"
    layout-wrap
    layout-align="space-between center"
    layout-align-sm="space-between center"
    layout='row'
  >

      <div id="button-menu-mobile" ng-click="toggleSidebar()" flex="10" flex-gt-md="30">
        <hr><hr><hr>
      </div>

      <a href="/" class='logo' flex='20' flex-xs='50' >
        <img ng-if="!scrolled" src="images/logo.png" />
        <!--<img ng-if="scrolled" src="images/nave.png" />-->
        <i ng-if="scrolled" class="icon-nave"></i>
      </a>

      <div class="menu-wrapper" ng-class="{'menu-wrapper-social': socialMenu}" flex="80" flex-sm="100" flex-xs="100">
        <nav class="menu" layout="row" layout-align="end center" layout-align-xs="center center">
          <ul class="social-menu" ng-show="socialMenu">
            <li><a>COMPARTE ESTO EN:</a></li>
            <li>
              <a 
                socialshare
                socialshare-provider="facebook"
                socialshare-url="{{currentUrl}}"
              >
                <i class="icon-face"></i>
              </a>
            </li>
            <!--
            <li>
              <a 
                socialshare
                socialshare-provider="facebook"
                socialshare-url="{{currentUrl}}"
              >
                <i class="icon-insta"></i>
              </a>
            </li>
            -->
            <li>
              <a 
                socialshare
                socialshare-provider="linkedin"
                socialshare-url="{{currentUrl}}"
                socialshare-text="'¡Hoy es el día! Impulsa tu negocio, crece en el mundo digital y obtén beneficios sustanciosos'"

              >
                <i class="icon-linkedin"></i>
              </a>
            </li>
            <li>
              <a 
                socialshare
                socialshare-provider="whatsapp"
                socialshare-url="{{currentUrl}}"
                socialshare-text="'¡Hoy es el día! Impulsa tu negocio, crece en el mundo digital y obtén beneficios sustanciosos'"
              >
                <i class="icon-whatsapp"></i>
              </a>
            </li>
          </ul>
          <ul ng-show="!socialMenu">
            <li>
              <a>ACERCA DE</a>
              <ul>
                <li><a href="/acerca-de-nosotros">Nosotros</a></li>
                <li><a href="/nuestro-equipo">Equipo espacial</a></li>
                <!--<li><a href="#">Hacktivismo</a></li>-->
              </ul>
            </li>
            <li><a href="/proyectos">PROYECTOS</a></li>
            <li>
              <a>SERVICIOS</a>
              <ul>
                <li itemscope itemtype="https://schema.org/Service">
                  <a href="/ui-ux" itemprop="name">UI/UX &amp; Design</a>
                </li>
                <li itemscope itemtype="https://schema.org/Service">
                  <a href="/marketing" itemprop="name">Marketing</a>
                </li>
                <li itemscope itemtype="https://schema.org/Service">
                  <a href="/software" itemprop="name">Software</a>
                </li>
              </ul>
            </li>
            <li><a href="/prensa">PRENSA</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li>
              <a href="/spacees"><img class="spacees-link-menu" src="images/spacees-menu.png" /></a>
            </li>
            <li><a class="contact-menu-item" href="/contacto"><span>CONTACTO</span></a></li>
          </ul>
        </nav>
      </div>

  </div>
</md-toolbar>

<a class="whatsapp-float" href="http://wa.me/529981914861"> 
  <svg
    viewBox="0 0 555 217">
    <path 
      stroke="#3E3E3E" 
      stroke-width="1"
      d="M 373.06,73.00
      C 374.84,71.49 378.17,63.04 379.62,60.50
        383.07,54.47 387.40,48.68 392.04,43.51
        405.89,28.10 431.86,15.75 452.75,15.50
        452.75,15.50 463.75,15.50 463.75,15.50
        485.51,15.53 509.36,26.29 524.66,41.59
        559.87,76.80 559.43,135.62 525.58,171.46
        518.26,179.21 507.39,186.20 497.75,190.72
        482.03,198.09 469.64,198.69 452.75,198.50
        432.11,198.25 406.96,186.33 392.92,171.46
        388.05,166.31 382.48,158.73 379.06,152.50
        377.50,149.65 375.26,142.45 372.75,140.81
        370.09,139.07 361.02,139.01 357.69,139.00
        357.69,139.00 29.56,139.12 29.56,139.12
        15.37,139.06 5.55,129.98 6.00,105.25
        6.21,88.02 11.17,74.78 27.75,74.75
        27.75,74.75 291.75,75.50 291.75,75.50
        291.75,75.50 345.75,74.88 345.75,74.88
        352.45,74.88 370.96,74.78 373.06,73.00 Z
      M 401.75,165.50
      C 401.75,165.50 432.75,157.88 432.75,157.88
        435.63,158.01 439.80,160.15 442.75,161.14
        447.42,162.72 454.85,164.27 459.75,164.46
        472.02,164.94 485.78,160.50 495.75,153.46
        504.60,147.20 512.33,137.73 516.06,127.50
        519.08,119.20 521.83,105.21 520.29,96.50
        516.18,73.29 499.98,54.14 476.75,48.40
        448.52,41.41 419.53,54.55 407.61,81.50
        404.65,88.19 402.50,96.14 402.79,103.50
        402.98,108.37 404.38,118.88 405.79,123.50
        406.79,126.78 409.93,132.89 409.99,135.50
        410.04,137.56 408.13,143.18 407.46,145.50
        407.46,145.50 401.75,165.50 401.75,165.50 Z
      M 421.75,133.50
      C 416.60,128.34 414.38,120.54 413.18,113.50
        412.75,110.92 411.83,104.90 411.96,102.50
        413.22,78.73 433.40,56.79 457.75,56.50
        468.63,56.38 474.68,56.30 484.75,61.48
        499.15,68.88 512.71,87.70 511.43,104.50
        511.43,104.50 509.75,115.50 509.75,115.50
        507.78,125.11 503.70,133.47 496.71,140.46
        485.69,151.49 473.81,154.67 458.75,154.50
        446.02,154.35 439.76,148.69 434.75,147.98
        430.53,147.37 420.09,151.05 415.75,152.50
        416.63,146.23 418.45,138.91 421.75,133.50 Z
      M 439.79,78.93
      C 428.79,83.62 431.34,96.15 436.09,104.50
        442.85,116.41 453.73,126.61 466.75,131.16
        471.65,132.87 476.56,134.37 481.75,132.86
        486.38,131.53 492.80,126.15 491.05,120.71
        490.09,117.74 481.77,113.83 478.79,113.51
        472.80,112.87 472.44,120.60 466.71,119.39
        463.03,118.61 457.44,114.07 454.76,111.46
        452.64,109.39 447.76,104.56 447.67,101.50
        447.58,98.74 450.42,96.50 451.01,93.50
        451.60,90.48 447.89,81.20 445.34,79.52
        443.48,78.31 441.80,78.69 439.79,78.93 Z" />
  </svg>
  <span>
    Cotiza tu proyecto
  </span>
</a>
