<div class="landing-wrapper" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="dots"></div>
  <video autoplay loop poster="images/videobg.png" id="landing-video">
    <source src="videos/spaceshiplabs.mp4" type="video/mp4">
    </video>
    <div class="landing-content center-content">
     <h1 data-wow-duration="0.8s" class="wow fadeInUp">SPACESHIP LABS</h1>
     <p data-wow-delay="0.8s" data-wow-duration="0.8s" class="wow fadeInUp">
      <strong>SOFTWARE QUE SE VE BIEN</strong>
    </p>
  </div>

  <a ng-click="scrollTo('recent-news')" href="" class="move-arrow"><img src="images/flecha.png" alt=""></a>
</div>

<div id="recent-news" class="container container-alt center-content">
 <h1 data-wow-duration="0.8s" class="wow fadeInUp">Noticias recientes</h1>
</div>

<div ng-show="!loadedPosts" class="container" layout="row" layout-sm="column" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-show="loadedPosts" class="news-wrapper" layout="row" layout-sm="column">

  <div
    ng-repeat="entry in entries"
    class="news-item"
    ng-style="
      entry.thumbnail_images[winSize].url && { 'background': 'url(' + entry.thumbnail_images[winSize].url + ') center no-repeat' }
      ||
      !entry.thumbnail_images[winSize].url && { 'background': 'url(' + entry.attachments[0].images[winSize].url + ') center no-repeat' }
    "
    flex="33"
    flex-sm="100">

    <a ng-href="/{{entry.slug}}" class="absolute-link"></a>
    <div class="news-item-excerpt">
      <div class="news-item-excerpt-inner">
        <p>{{entry.title}}</p>
      </div>
    </div>
  </div>

</div>

<div class="our-services-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="services-content container container-xlg container-no-padding center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Nuestros servicios</h1>
    <div
    class="services-items"
    layout="row"
    layout-align="space-between start"
    layout-sm="column"
    layout-align-sm="center center"
    >
      <div
        class="services-item"
        flex="20"
        flex-sm="100">
        <a href="/ui-ux" class="absolute-link"></a>
        <h5>UI/UX Design</h5>
      </div>

      <div
        class="services-item"
        flex="20"
        flex-sm="100">
        <h5>Branding</h5>
      </div>

      <div
        class="services-item"
        flex="20"
        flex-sm="100">
        <h5>Marketing</h5>
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
      </div>

      <div
        class="services-item"
        flex="20"
        flex-sm="100" >
        <!--<img src="images/icono4_blanco.png" alt="">-->
        <h5>Consulting</h5>
      </div>

    </div>
  </div>
</div>

<div class="spacees-landing container-alt" layout="row" layout-align="start center" ng-style="style()" full-screen-wrapper>
  <div class="container-sm">
    <img src="images/spacees.png" alt="" />
    <h2 data-wow-duration="0.8s" class="wow fadeInUp">ENTERPRISE SOFTWARE</h2>
    <p>Plataforma para el manejo completo de la empresa desde recursos humanos, contabilidad, hasta la capacitación y canalización de ventas tanto electrónicas como analogas.</p>
    <div class="action-btn-wrap">
      <a href="#" class="action-btn">VIEW</a>
    </div>
  </div>
</div>

<div class="mentions-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="mentions-landing-content container container-xlg center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Menciones</h1>

    <div class="mention-landing-row" layout-wrap layout="row" layout-sm="column">
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/imco.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/cnn.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.1s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/telemundo.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.3s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/televisa.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.5s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/eluniversal.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.7s" data-wow-duration="0.2s"
      flex-sm="100"></a>

      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/excelsor.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.9s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a
      class="mention-landing-item wow fadeIn"
      style="background: url(images/lajornada.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.1s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/animalpolitico.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.3s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/opendata.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.5s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/imco.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.7s" data-wow-duration="0.2s"
      flex-sm="100"></a>
    </div>

  </div>
</div>

<div class="clients-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="clients-landing-content container container-xlg center-content">
    <h1><span count-to="200" value="0" duration="2" ></span> Happy clients</h1>

    <div clients-slider></div clients-slider>

  </div>
</div>

<div class="portfolio-landing">
  <div class="portfolio-title-landing container center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Portafolio</h1>
    <div class="action-btn-wrap">
      <a href="/projects" class="action-btn">Ver todos los proyectos</a>
    </div>
  </div>
  <projects-slider></projects-slider>
</div>

<ng-include src="'views/contact-us.html'"></ng-include>
