<div class="landing-wrapper" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="dots"></div>
    <video autoplay loop preload="none" autoplay="autoplay" poster="images/videobg.png" id="landing-video">
      <source src="videos/spaceshiplabs.webm#t=1" type="video/webm">
      <source src="videos/spaceshiplabs.mp4#t=1" type="video/mp4">
    </video>
    <script>
        document.getElementById('landing-video').play();
    </script>
    <div class="landing-content center-content">
     <h1 data-wow-duration="0.8s" class="wow fadeInUp">SpaceshipLabs</h1>
     <p data-wow-delay="0.8s" data-wow-duration="0.8s" class="wow fadeInUp">
      SOFTWARE QUE SE VE BIEN
    </p>
  </div>

  <a ng-click="scrollTo('menciones')" href="" class="move-arrow"><img src="images/flecha.png" alt=""></a>
</div>

<!--<div id="recent-news" class="container container-alt center-content">
 <h1 data-wow-duration="0.8s" class="wow fadeInUp">Noticias recientes</h1>
</div>-->

<div id="menciones" class="mentions-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="mentions-landing-content container container-xlg center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Menciones</h1>

    <div class="mention-landing-row" layout-wrap layout="row" layout-sm="column">
      <a
      href="http://imco.org.mx/capital_humano/conferencia-de-prensa-mejora-tu-escuela/"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/imco.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a
      href="https://www.youtube.com/watch?v=lJWqpp09oDY&feature=youtu.be"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/cnn.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.1s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <div
      class="mention-landing-item wow fadeIn"
      style="background: url(images/telemundo.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.3s" data-wow-duration="0.2s"
      flex-sm="100"></div>
      <a
      href="http://noticieros.televisa.com/foro-tv-fractal/1409/imco-mejora-tu-escuela/"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/televisa.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.5s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a
      href="http://www.eluniversal.com.mx/blogs/colectivo-mexico-informate/2015/07/8/el-gobierno-como-plataforma"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/eluniversal.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.7s" data-wow-duration="0.2s"
      flex-sm="100"></a>

      <div
      class="mention-landing-item wow fadeIn"
      style="background: url(images/excelsor.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.9s" data-wow-duration="0.2s"
      flex-sm="100"></div>
      <div
      class="mention-landing-item wow fadeIn"
      style="background: url(images/lajornada.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.1s" data-wow-duration="0.2s"
      flex-sm="100"></div>
      <a
      href="http://www.animalpolitico.com/click-necesario/pide-tus-legisladores-cambiar-la-leytelecom/"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/animalpolitico.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.3s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a
      href="http://www.opendata500.com/mx/list/"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/opendata.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.5s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a
      href="http://sipse.com/novedades/lanzan-aplicacion-de-mapa-interactivo-de-gasolineras-en-el-pais-98763.html"
      target="_blank"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/sipse.png) center no-repeat;background-size:50%"
      flex="20"
      flex-md="33"
      data-wow-delay="1.7s" data-wow-duration="0.2s"
      flex-sm="100"></a>
    </div>

  </div>
</div>


<div class="our-services-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="services-content container container-xlg container-no-padding center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Nuestros servicios</h1>
    <div
    class="services-items"
    layout="row"
    layout-sm="column"
    layout-align="center center"
    layout-wrap
    >
      <div class="services-item" flex="33" flex-sm="100" itemscope itemtype="http://schema.org/Service">
          <a href="/ui-ux" class="absolute-link"></a>
          <div class="service">
            <i class="icon-iu"></i>
            <h5 itemprop="name">UI/UX &amp; Design</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <i class="icon-iu"></i>
            <h5 itemprop="name">UI/UX &amp; Design</h5>
            <hr>
            <p itemprop="description">
              Un buen software debe ir acompañado de una buena interfaz y una buena marca de una buena imagen visual.
            </p>
            <div class="action btn-wrap">
              <a href="/ui-uix" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="33" flex-sm="100" itemscope itemtype="http://schema.org/Service">
          <a href="/marketing" class="absolute-link"></a>
          <div class="service">
            <i class="icon-marketing"></i>
            <h5 itemprop="name">Marketing</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <i class="icon-marketing"></i>
            <h5 itemprop="name">Marketing</h5>
            <hr>
            <p itemprop="description">
              SEO, Social Media, Branding y campañas creativas para tu empresa.
            </p>
            <div class="action btn-wrap">
              <a href="/marketing" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="33" flex-sm="100" itemscope itemtype="http://schema.org/Service">
          <a href="/software" class="absolute-link"></a>
          <div class="service">
            <i class="icon-software"></i>
            <h5 itemprop="name">Software</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <i class="icon-software"></i>
            <h5 itemprop="name">Software</h5>
            <hr>
            <p itemprop="description">
              Desarrollo de software usando metodologías ágiles en constante comunicacion con el cliente.
            </p>
            <div class="action btn-wrap">
              <a href="/software" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="spacees-landing container-alt" layout="row" layout-align="start center" ng-style="style()" full-screen-wrapper itemscope itemtype="http://schema.org/Service">

  <div class="container container-xxlg" layout="row" layout-md="column" layout-sm="column">
    <div flex="50" flex-md="100" flex-sm="100" layout="column" layout-align="center center">
      <div class="spacees-landing-content">
        <img src="images/spacees.png" alt="SpaceEs" />
        <h2 data-wow-duration="0.8s" class="wow fadeInUp" itemprop="name">ENTERPRISE SOFTWARE</h2>
        <p itemprop="description">Plataforma para el manejo completo de la empresa desde recursos humanos, contabilidad, hasta la capacitación y canalización de ventas tanto electrónicas como análogas.</p>
        <div class="action-btn-wrap">
          <a href="/spacees" itemprop="url" class="action-btn">VER</a>
        </div>
      </div>
    </div>
    <section class="mockups-wrapper" flex="50" flex-md="100" flex-sm="100">
      <img class="tablet-img wow slideInUp" data-wow-duration="1.6s" src="images/tablet-spacees.png" alt="SpaceEs tablet view">
      <img class="cel-img wow slideInUp" data-wow-duration="2.4s" src="images/cel-spacees.png" alt="SpaceEs mobile view">
      <img class="desktop-img wow slideInUp" data-wow-duration="3.2s" src="images/compu-spacees.png" alt="SpaceEs desktop view">
    </section>
  </div>



</div>




<div id="recent-news" class="news-wrapper news-wrapper-landing container container-xxlg" layout="row" layout-align="center center" ng-style="style()" full-screen-wrapper>

  <div class="news-wrapper-inner" flex>
    <h1 data-wow-duration="0.8s" class="wow fadeInUp"><i class="icon-noticias"></i></h1>
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Noticias recientes</h1>

    <div ng-show="!loadedPosts" class="container" layout="row" layout-sm="column" layout-align="center center">
      <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
      <img src="images/loader.gif" alt="">
    </div>

    <div ng-show="loadedPosts" class="news-row" layout="row" layout-sm="column">
      <div
        ng-repeat="entry in entries"
        flex="33"
        flex-sm="100">

        <div post-item post-type="home" entry="entry"></div>

      </div>
    </div>
  </div>

</div>


<div class="clients-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="clients-landing-content container container-xlg center-content">
    <!--<h1><span count-to="200" value="0" duration="2" ></span> Clientes felices</h1>-->
    <h1>Testimonios</h1>
    <slick dots="true" infinite="true" autoplay="true" autoplaySpeed="6000" speed="800" class="clients-slider">
      <div
        class="clients-slide"
        ng-repeat="client in clients track by $index"
        layout="row"
        layout-align="space-between center"
        layout-sm="column"
        >

        <div class="client-item container container-lg">
          <p>
            <i class="icon-comilla1 quote-icon"></i>
            <i class="icon-comilla2 quote-icon quote-icon-right"></i>
            {{client.quote}}
          </p>
          <h5>{{client.name}}</h5>
          <h6>{{client.company}}</h6>
        </div>

      </div>
    </slick>

  </div>
</div>

<div class="portfolio-landing">
  <projects-slider projects="projects" preview="true" win-size="winSizeSingle"></projects-slider>
</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
