<div class="landing-wrapper" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="dots"></div>
    <video autoplay loop preload="none" autoplay="autoplay" poster="images/videobg.png" id="landing-video">
      <source src="videos/spaceshiplabs.webm#t=1" type="video/mp4">
    </video>
    <script>
        document.getElementById('landing-video').play();
    </script>
    <div class="landing-content center-content">
     <h1 data-wow-duration="0.8s" class="wow fadeInUp">SpaceshipLabs</h1>
     <p data-wow-delay="0.8s" data-wow-duration="0.8s" class="wow fadeInUp">
      SOFTWARE QUE SE VE BIEN
    </p>
  </div>

  <a ng-click="scrollTo('recent-news')" href="" class="move-arrow"><img src="images/flecha.png" alt=""></a>
</div>

<!--<div id="recent-news" class="container container-alt center-content">
 <h1 data-wow-duration="0.8s" class="wow fadeInUp">Noticias recientes</h1>
</div>-->



<div  class="news-wrapper news-wrapper-landing container container-xxlg">

  <h1 data-wow-duration="0.8s" class="wow fadeInUp"><i class="icon-noticias"></i></h1>
  <h1 data-wow-duration="0.8s" class="wow fadeInUp">Noticias recientes</h1>

  <div ng-show="!loadedPosts" class="container" layout="row" layout-sm="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-show="loadedPosts" class="news-row" layout="row" layout-sm="column">
    <div
      ng-repeat="entry in entries"
      flex="33"
      flex-sm="100">

      <div post-item post-type="home" entry="entry"></div>

    </div>
  </div>

</div>

<div class="our-services-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="services-content container container-xlg container-no-padding center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Nuestros servicios</h1>
    <div
    class="services-items"
    layout="row"
    layout-align="center center"
    layout-wrap
    >
      <div class="services-item" flex="33" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/ui-ux" class="absolute-link"></a>
          <div class="service">
            <i class="icon-iu"></i>
            <h5 itemprop="name">UI/UX Design</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <i class="icon-iu"></i>
            <h5 itemprop="name">UI/UX Design</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="/ui-uix" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="33" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/marketing" class="absolute-link"></a>
          <div class="service">
            <i class="icon-marketing"></i>
            <h5 itemprop="name">Marketing</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <i class="icon-marketing"></i>
            <h5 itemprop="name">Marketing</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="/marketing" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="33" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/software" class="absolute-link"></a>
          <div class="service">
            <i class="icon-software"></i>
            <h5 itemprop="name">Software</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <i class="icon-software"></i>
            <h5 itemprop="name">Software</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="/software" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="spacees-landing container-alt" layout="row" layout-align="start center" ng-style="style()" full-screen-wrapper itemscope itemtype="http://schema.org/Service">
  <meta itemprop="logo" content="images/spacees.png">
  <meta itemprop="image" content="images/spacees.png">

  <div class="container-sm">
    <img src="images/spacees.png" alt="SpaceEs" />
    <h2 data-wow-duration="0.8s" class="wow fadeInUp" itemprop="name">ENTERPRISE SOFTWARE</h2>
    <p itemprop="description">Plataforma para el manejo completo de la empresa desde recursos humanos, contabilidad, hasta la capacitación y canalización de ventas tanto electrónicas como analogas.</p>
    <div class="action-btn-wrap">
      <a href="/spacees" itemprop="url" class="action-btn">VER</a>
    </div>
  </div>
</div>

<div class="mentions-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="mentions-landing-content container container-xlg center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Menciones</h1>

    <div class="mention-landing-row" layout-wrap layout="row" layout-sm="column">
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/imco.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/cnn.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.1s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/telemundo.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.3s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/televisa.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.5s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/eluniversal.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.7s" data-wow-duration="0.2s"
      flex-sm="100"></a>

      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/excelsor.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="0.9s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a
      class="mention-landing-item wow fadeIn"
      style="background: url(images/lajornada.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.1s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/animalpolitico.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.3s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/opendata.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.5s" data-wow-duration="0.2s"
      flex-sm="100"></a>
      <a href="#"
      class="mention-landing-item wow fadeIn"
      style="background: url(images/imco.png) center no-repeat;"
      flex="20"
      flex-md="33"
      data-wow-delay="1.7s" data-wow-duration="0.2s"
      flex-sm="100"></a>
    </div>

  </div>
</div>

<div class="clients-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="clients-landing-content container container-xlg center-content">
    <!--<h1><span count-to="200" value="0" duration="2" ></span> Clientes felices</h1>-->
    <h1>Testimonios</h1>
    <div clients-slider clients="clients"></div clients-slider>

  </div>
</div>

<div class="portfolio-landing">
  <projects-slider projects="projects" preview="true" win-size="winSizeSingle"></projects-slider>
</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
