<div class="container section-title section-title-service center-content">
  <div class="container container-md">
    <div class="wrapper-icon">
      <i class="icon-marketing wow zoomIn" ></i>
    </div>
    <h1>Marketing SpaceshipLabs</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga possimus ipsum recusandae tempora.</h2>
  </div>
</div>

<div class="info-wrap info-wrap-service">

  <section class="info-block info-block-branding">
    <div class="container container-md center-content">
      <h2 class="gradient-title">Branding</h2>
      <p>Desde seleccionar el nombre de tu marca hasta la personalidad de tu empresa. Te ayudamos a aterrizar tus ideas basándonos en el mercado al que quieres llegar. </p>
    </div>
    <img src="images/branding.png" class="fixed-img wow slideInUp" alt="">
  </section>

  <section class="info-block info-block-alt info-block-market">
    <div class="container container-lg center-content">
      <p class="center-content">
        <i class="icon-estudio wow zoomIn" data-wow-duration="0.4s" ></i>
        <i class="icon-mercado wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s"></i>
      </p>
      <h2>Estudio de mercado</h2>
      <p class="no-margin">¿Quieres saber si tu proyecto es funcional?</p>
      <p class="no-margin">¿Si el mercado al que estás dirigido es el correcto?</p>
      <p class="no-margin">Nosotros te ayudamos a obtener estas respuestas. Por medio de encuestas e investigación generamos las información que necesitas para asegurar el éxito de tu proyecto.</p>
    </div>
  </section>

  <section class="info-block">
    <div class="container container-md center-content">
      <h2 class="alt-title"><i class="icon-social wow zoomIn" data-wow-duration="0.4s"></i></h2>
      <h2 class="alt-title">Social media</h2>
      <p>Gestión, creación de contenido, diseño, interacción con los usuarios, llegar a nuevos usuarios, anuncios y todo lo que necesites para posicionar tu marca en redes sociales. </p>
    </div>
  </section>

  <section class="info-block info-block-alt-2 marketing-campaign">
    <div class="container container-xlg" layout="row" layout-md="column" layout-sm="column" layout-align="space-between center">
      <div flex="55" flex-md="100" flex-sm="100">
        <h2>Creación de campañas</h2>
        <p>Llega a más personas, lanza tu marca como se debe o haz que tus promociones lleguen más lejos por medio de una campaña creativa, ya sea 360 o sólo en línea, te ayudamos a obtener el mejor rendimiento y resultados. </p>
      </div>
      <div flex flex-md="100" flex-sm="100" class="center-content">
        <i class="icon-campana wow zoomIn" data-wow-duration="0.4s"></i>
      </div>
    </div>
  </section>

</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
