<div class="container section-title section-title-projects center-content">
	<h1><img src="images/proyectos3.png" alt=""> Proyectos</h1>

	<div class="section-title-options" >
		<section layout="row" class="container container-xlg container-no-padding">
		  <form flex="20">
				<section layout="row" layout-align="center center">
			  	<a href="#" flex="20"><img src="images/buscar2.png" alt=""></a>
			    <md-input-container flex>
				      <label>Busca un proyecto</label>
			      <input ng-model="user.email" type="text">
			    </md-input-container>		
				</section>
		  </form>
	  </section>
	</div>
</div>

<projects-slider></projects-slider>

<ng-include src="'views/contact-us.html'"></ng-include>