<div class="container section-title section-title-blog center-content">
	<h1><img src="images/icono_periodico.png" alt=""> Cuatro Apps locales que mejorarán tu vida</h1>

  <div class="section-title-options" >
    <section layout="row" class="container container-xlg container-no-padding">
      <form flex="20" flex-sm="100">
        <section layout="row" layout-align="center center">
          <a href="#" flex="20"><img src="images/buscar2.png" alt=""></a>
          <md-input-container flex>
              <label>Busca una noticia</label>
            <input ng-model="user.email" type="text">
          </md-input-container>
        </section>
      </form>
    </section>
  </div>
</div>

<div class="blog">

	<div class="single-thumb" style="background: url(images/imagen_noticias.jpg) center no-repeat"></div>

	<div class="single container container-xlg" layout="row" layout-sm="column" layout-align="space-between start">

		<div class="single-content" flex="70" flex-sm="100">
			<h1>Cuatro Apps locales que mejorarán tu vida</h1>
			<p class="single-data">
				<span>Date May 5th ,2015</span> | <strong>Author: Carolina Marin</strong>
			</p>
			<div class="single-post-content">
				<p>Cancún y la Riviera Maya son conocidos por muchas cosas, ya sea por sus playas, vestigios arqueológicos o tendencias en hotelería; sin embargo, en una era digital ¿Qué tan conocidos somos por nuestras aportaciones a la tecnología? Afortunadamente algunos emprendedores locales han hecho un esfuerzo por proveer soluciones digitales a problemas cotidianos, encontrando un nicho de mercado un tanto innovador como fuente de ingresos a nivel regional, mientras forman parte de la insaciable necesidad tecnológica a nivel mundial.</p>
				<br>
				<p><strong>Aplicaciones locales que tienes que conocer:</strong></p>
				<br>
				<h4>1. Cero Varo</h4>
				<br>
				<img src="images/cerovaro.jpg" alt="" style="float:left;margin: 0 10px 10px 0">
				<p>Es una web app que funciona mediante responsive design, un estilo de diseño web amigable con cualquier dispositivo móvil, que permite utilizarse de manera eficiente en diferentes tipos de pantalla.</p>
				<p><strong>Función</strong>: Como usuario te ayuda a encontrar promociones de comida y bebida para cada día de la semana, proporcionándote la información básica de los negocios (promos, dirección, formas de pago, si cuentan con servicio a domicilio, etc). Como empresario es una plataforma para promocionar tu negocio de manera gratuita. Lo que más nos gusta es su innovadora interfaz, que funciona de manera táctil en pantallas touch, además que se limitaron a cubrir dos simples necesidades: comida y bebida, por lo que no te encontrarás otro tipo de promociones que generalmente cuando estás hambriento o necesitado de una cerveza no vienen al caso.
				</p>
				<br>
				<h4>1. Ubican</h4>
				<br>
				<img src="images/ubican.jpg" alt="" style="float:left;margin: 0 10px 10px 0">
				<p>Es también una web app en vías de convertirse en aplicación, por lo que funciona de manera móvil gracias a su diseño responsivo.</p>
				<p>Función: Más que lucrativa es de carácter humanitario, pues ayuda a encontrar, reportar o reubicar perros extraviados. Lo que más nos gusta es que resuelven un problema de una manera simple, es fácil de usar ya que puedes iniciar sesión a través de las redes sociales y cuentan con un mapa en el que puedes ubicar a los perros en diferentes situaciones.</p>

				<div class="clear"></div>
			</div>

			<div class="single-tags">
				<p>
					<a href="#" >#apps</a>
					<a href="#" >#cancun</a>
					<a href="#" >#lifestyle</a>
					<a href="#" >#software</a>

				</p>
			</div>

			<div class="fb-comments" data-href="" data-width="672" data-numposts="2"></div>

		</div>

		<div class="blog-sidebar" flex="25" flex-sm="100">

			<div class="blog-sidebar-card">
				<div class="card-thumb" style="background: url(images/noticia_blog.jpg) center no-repeat;">
					<a href="/single" class="absolute-link"></a>
				</div>
				<div class="card-content">
					<h4><a href="/single">Cuatro Apps locales que mejorarán tu vida</a></h4>
					<p class="card-content-data">
						<strong>Author: Carolina Marin</strong>
					</p>
					<p class="card-content-data">
						<small><img src="images/calendario.png" alt=""> Date May 5th ,2015</small>
					</p>
					<p class="card-content-excerpt">
						Cancún y la Riviera Maya son conocidos por muchas cosas, ya sea por sus playas, vestigios arqueológicos o tendencias en hotelería; sin embargo, en una era digital
					</p>
					<div class="action-btn-wrap">
						<a href="/single" class="action-btn action-btn-alt">Ver más</a>
					</div>
				</div>
			</div>


			<div class="blog-sidebar-card">
				<div class="card-thumb" style="background: url(images/imagen_noticia2.jpg) center no-repeat;">
					<a href="/single" class="absolute-link"></a>
				</div>
				<div class="card-content">
					<h4><a href="/single">Cuatro Apps locales que mejorarán tu vida</a></h4>
					<p class="card-content-data">
						<strong>Author: Carolina Marin</strong>
					</p>
					<p class="card-content-data">
						<small><img src="images/calendario.png" alt=""> Date May 5th ,2015</small>
					</p>
					<p class="card-content-excerpt">
						Cancún y la Riviera Maya son conocidos por muchas cosas, ya sea por sus playas, vestigios arqueológicos o tendencias en hotelería; sin embargo, en una era digital
					</p>
					<div class="action-btn-wrap">
						<a href="/single" class="action-btn action-btn-alt">Ver más</a>
					</div>
				</div>
			</div>

			<div class="fb-page" data-href="https://www.facebook.com/Spaceshiplabs" data-width="240" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Spaceshiplabs"><a href="https://www.facebook.com/Spaceshiplabs">Spaceshiplabs</a></blockquote></div></div>

		</div>

	</div>
</div>
<ng-include src="'views/contact-us.html'"></ng-include>
