<div class="container section-title section-title-blog center-content">
	<h1><img src="images/icono_periodico.png" alt=""> Noticias recientes</h1>

	<div class="blog-options" >
		<section layout="row" class="container container-xlg container-no-padding">
		  <form flex="20">
				<section layout="row" layout-align="center center">
			  	<a href="#" flex="20"><img src="images/buscar2.png" alt=""></a>
			    <md-input-container flex>
				      <label>Busca una noticia</label>
			      <input ng-model="user.email" type="text">
			    </md-input-container>		
				</section>
		  </form>
	  </section>
	</div>
</div>

<div class="blog">

</div>
<ng-include src="'views/contact-us.html'"></ng-include>