<div class="container section-title section-title-service section-title-software center-content">
  <div class="container container-md">
    <div class="wrapper-icon">
      <i class="icon-software wow zoomIn" style="visibility: visible; animation-name: zoomIn;"></i>
    </div>
    <h1>¿Quieres conocer la metodología de desarrollo en Spaceship Labs?</h1>
    <h2>Desarrollo de software usando metodologías ágiles</h2>
    <!--<p>Nuestra propuesta de desarrollo se basa en una metodologia ágil basada en el modelo <a href="http://scrumprimer.com/" target="_blank">SCRUM</a> y haciendo amplio apoyo de herramientas de desarrollo e integración continua.</p>-->

  </div>

  <div class="container container-xlg">
    <div class="service-menu" layout="row" layout-align="center start">
      <a href="#">Desarrollo agil</a>
      <a href="#">Analisis, definición y diseño</a>
      <a href="#">Integración continua, pruebas</a>
      <a href="#">Producción</a>
      <a href="#">Documentación</a>
      <a href="#">Garantia</a>
    </div>
  </div>

</div>

<div class="info-wrap info-wrap-service">

  <section class="info-block">
    <div class="container container-lg center-content">
      <h2 class="gradient-title">Flujo de trabajo</h2>
      <p>Cada una de las entregas o liberaciones de un proyecto cuentan con documentación y pruebas. Para lograr esto utilizamos un flujo de trabajo basado en el modelo de Integración Continua y desarrollo guiado por ejemplos (<a href="https://en.wikipedia.org/wiki/Test-driven_development" target="_blank">test driven development</a>).</p>
      <p>Adicionalmente usamos herramientas de administración de proyectos tales como <strong>slack, trello, git y hubot</strong> para mantener una comunicación y seguimiento permanente con el cliente. </p>
      <p class="center-content">
        <a href="https://slack.com/" target="_blank" >
          <img src="images/slack.png" alt="Slack" class="wow zoomIn" data-wow-duration="0.6s">
        </a>
        <a href="https://trello.com/" target="_blank" >
          <img src="images/trello.png" alt="" class="wow zoomIn" data-wow-duration="0.6s" data-wow-delay="0.6s">
        </a>
        <a href="https://git-scm.com/" target="_blank">
          <img src="images/git.png" alt="" class="wow zoomIn" data-wow-duration="0.6s" data-wow-delay="1.2s">
        </a>
      </p>
    </div>
  </section>

  <section class="info-block info-block-alt">
    <div class="container container-lg center-content">
      <h2>Análisis, definición y diseño</h2>
      <p>En la primera etapa ofrecemos diseños de bases de datos normalizadas que cumplen con los requerimientos descritos en los roadmaps así como diagramas de arquitectura.</p>
      <p>Adicional al análisis y diseño inicial Spaceshiplabs continúa refinando la arquitectura y diseño en cada iteración del software.</p>
      <p class="center-content">
        <i class="icon-grafica wow zoomIn" data-wow-duration="0.4s"></i>
        <i class="icon-redefinir large-icon wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s"></i>
        <i class="icon-definicion wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.8s"></i>
      </p>
    </div>
  </section>

  <section class="info-block">
    <div class="container container-lg center-content">
      <h2 class="gradient-title">Integración Continua</h2>
      <p>Nuestro proceso de entrega para cada incremento es transparente mediante el uso de herramientas para la gestión automatizada de aplicaciones.</p>
      <p>Cuando actualizamos un repositorio, se desencadena la ejecución de pruebas. Si estas pruebas pasan, entonces actualizamos el servidor de QA (sandbox) para que la entrega pueda ser verificada manualmente. Una vez aprobada la entrega se actualiza el servidor de producción automáticamente.</p>
      <p>En cualquier momento podemos restaurar rápidamente los módulos del software a estados previos si se registrara algún problema.</p>
      <p class="center-content">
        <img src="images/esquema.png" alt="Esquema" class="wow zoomIn" data-wow-duration="0.8s">
      </p>
    </div>
  </section>

  <section class="info-block-columns" layout="row" layout-md="column" layout-sm="column">
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm center-content">
        <h2>Pruebas</h2>
        <p>Para poder asegurar la calidad del software y su funcionamiento incluimos <strong>pruebas unitarias, pruebas de integración, pruebas punta a punta y pruebas de optimización</strong> (SEO y performance) en cada etapa.</p>
        <p class="center-content">
          <i class="icon-pruebas wow zoomIn" data-wow-duration="0.4s"></i>
          <a href="https://codeship.com/" target="_blank">
            <img src="images/codeship.png" alt="Codeship" class="wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
          </a>
        </p>
        <p>El testing unitario y punta a punta se lleva a cabo en <strong>servidores de construcción</strong> como <strong>travis-ci y codeship</strong>. Estos servicios verifican el funcionamiento de la plataforma y funcionan como una barrera para que el software no sea puesto en producción si no pasa la suite de pruebas.</p>
      </div>
    </div>
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm center-content">
        <h2>Verificación del funcionamiento</h2>
        <p>Los escenarios de uso descritos en los roadmaps servirán como base para las pruebas punta a punta y permitirán al cliente contar con información automatizada del funcionamiento del software en cualquier punto de su vida útil.</p>
        <p class="center-content">
          <i class="icon-velocidad wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.8s"></i>
          <i class="icon-seo wow zoomIn" data-wow-duration="0.4s" data-wow-delay="1.2s"></i>
          <i class="icon-funcionamiento wow zoomIn" data-wow-duration="0.4s" data-wow-delay="1.6s"></i>
        </p>
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="container container-lg center-content">
      <p class="title-icons center-content">
        <i class="icon-produccion wow zoomIn" data-wow-duration="0.4s"></i>
        <i class="icon-lanzamiento wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s"></i>
      </p>
      <h2 class="gradient-title">Puesta en producción</h2>
      <p>Desde el inicio, configuramos un entorno de desarrollo que utiliza la misma configuración que los servidores de producción. El cliente en cualquier momento del proyecto podrá autorizar el lanzamiento a un entorno de producción mediante el proceso automático descrito en la sección de integración continua. </p>
      <p>En nuestra propuesta incluimos toda la configuración tanto de los entornos de producción como de desarrollo.</p>
    </div>
  </section>

  <section class="info-block-columns" layout="row" layout-md="column" layout-sm="column">
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm center-content">
        <h2>Documentación y transferencia de conocimiento</h2>
        <p>En cada proyecto incluimos toda la documentación requerida para poder instalar el software y ejecutar las pruebas unitarias y punta a punta en plataformas *nix y Windows. Esta documentación estará incluida en el repositorio.</p>
        <p>La documentación de arquitectura del sistema y los diagramas producidos en las etapas de análisis serán compartidos en todo momento con el cliente.</p>
        <p class="center-content">
          <i class="icon-docu wow zoomIn" data-wow-duration="0.4s"></i>
          <i class="icon-doc wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s"></i>
          <i class="icon-documentacion wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.8s"></i>
        </p>
        <p>Todos los API’s tanto públicos como privados cuentan con documentación que explica los parámetros y funcionamiento de todos los nodos. </p>
      </div>
    </div>
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm center-content">
        <h2>Instalación automatizada</h2>
        <p class="center-content">
          <a href="https://www.npmjs.com/" target="_blank">
            <img src="images/npm.png" alt="npm" class="wow zoomIn" data-wow-duration="0.4s" data-wow-delay="1.2s">
          </a>
          <a href="http://bower.io/" target="_blank">
            <img src="images/bower.png" alt="bower" class="wow zoomIn" data-wow-duration="0.4s" data-wow-delay="1.6s">
          </a>
        </p>
        <p>Adicionalmente todos los módulos que publiquemos contarán con archivos que especifique las dependencias del módulo y permitan la instalación automatizada usando administradores de paquetes como <strong>npm y bower.</strong></p>
        <div class="container-mini center-content">
          <p class="no-margin center-content">
            <i class="icon-soporte large-icon wow zoomIn" data-wow-duration="0.4s" data-wow-delay="2s"></i>
          </p>
          <h3>30 DÍAS</h3>
          <h3>de soporte</h3>
        </div>
        <p>Por último ofrecemos soporte de capacitacion, preguntas y respuestas durante los primeros 30 días de finalizar el contrato en caso de que traspasemos el proyecto a otro equipo.</p>
      </div>
    </div>
  </section>
  <!--<section class="info-block info-block-alt">
    <div class="container container-lg center-content">
      <h2>Propiedad del código</h2>
      <p>Corresponderá a el cliente los derechos de explotación tanto del sistema de software desarrollado, como de los subsistemas que lo integran y que igualmente hayan sido desarrollados por Spaceshiplabs así como de todos los subproductos del desarrollo: documentación técnica de análisis y diseño, documentación de planificación y pruebas, documentación de usuario, etc.</p>
      <p class="center-content">
        <i class="icon-propiedad extra-large-icon"></i>
      </p>
    </div>
  </section>-->

  <section class="info-block software-guarantee">
    <div class="container container-lg center-content">
      <div layout="row" layout-sm="column" class="container container-xsmd" >
        <div flex="30" flex-sm="100">
          <h2>
            <i class="icon-garantia extra-large-icon wow zoomIn" data-wow-duration="0.6s"></i>
          </h2>
        </div>
        <div flex flex-sm="100" class="gradient-title">
          <h2>6 MESES</h2>
          <h2>de garantia</h2>
        </div>
      </div>
      <p>Una vez validada por parte del cliente la entrega del sistema de software, se iniciará un periodo de garantía del correcto funcionamiento del sistema de 6 meses.</p>
      <p>La garantía del sistema cubrirá un servicio de mantenimiento correctivo por parte de la Spaceshiplabs.</p>
      <p>Por mantenimiento correctivo se entiende el definido en el estándar técnico de mantenimiento de software IEEE 1219-1998: "Modificaciones realizadas a un producto de software después de su entrega para corregir fallos descubiertos", no siendo extensiva la garantía para operaciones de mantenimiento adaptativo ni perfectivo.</p>
    </div>
  </section>




</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
