<div class="container section-title section-title-service center-content">
  <div class="container container-md">
    <h1>Software SpaceshipLabs</h1>
    <h2>Hacemos tu desarrollo usando metodologías ágiles</h2>
    <p>Proponemos para el desarrollo de este sistema usar una metodología ágil basada en el modelo SCRUM y haciendo amplio apoyo de herramientas de desarrollo e integración continua.</p>
  </div>
</div>

<div class="info-wrap info-wrap-service">

  <section class="info-block">
    <div class="container container-lg center-content">
      <h2 class="gradient-title">Flujo de trabajo</h2>
      <p>Cada una de estas entregas o liberaciones contarán con documentación y pruebas. Para lograr esto utilizamos un flujo de trabajo basado en el modelo de Integración Continua y desarrollo guiado por ejemplos</p>
      <p>Adicionalmente usaremos las herramientas de administración de proyecto como slack, trello, git y hubot para mantener una comunicación y seguimiento permanente con el cliente.</p>
    </div>
  </section>

  <section class="info-block info-block-alt">
    <div class="container container-lg">
      <h2>Análisis, definición y diseño</h2>
      <p>Spaceshiplabs proveerá durante la primera etapa diseños de bases de datos normalizadas que cumplan con los requerimientos descritos en los roadmap así como diagramas de arquitectura.</p>
      <p>Adicional al análisis y diseño inicial Spaceshiplabs continuará refinando la arquitectura y diseño en cada iteración del software. </p>
    </div>
  </section>

  <section class="info-block">
    <div class="container container-lg">
      <h2 class="gradient-title">Integración Continua</h2>
      <p>El proceso de entrega para cada incremento será transparente mediante el uso de herramientas para la gestión automatizada de aplicaciones. </p>
      <p>Actualizar el repositorio provoca la ejecución de pruebas. Si estas pasan actualiza el servidor de QA (sandbox) para que la entrega pueda ser verificada manualmente. Una vez aprobada la entrega se actualiza el servidor de producción automáticamente. </p>
      <p>En cualquier momento se podrá restaurar rápidamente los módulos del software a estados previos si se registrara algún problema.</p>
    </div>
  </section>

  <section class="info-block-columns" layout="row" layout-md="column" layout-sm="column">
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm">
        <h2>Pruebas</h2>
        <p>Para poder asegurar la calidad del software y su funcionamiento incluimos las pruebas unitarias, pruebas de integración, pruebas punta a punta y pruebas de optimización (SEO y performance) en cada etapa.</p>
        <p>El testing unitario y punta a punta se llevará a cabo en los servidores de construcción como travis-ci y codeship. Estos servicios verifican el funcionamiento de la plataforma y funcionan como una barrera para que el software no sea puesto en producción si no pasa la suite de pruebas. </p>
      </div>
    </div>
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm">
        <h2>Verificación del funcionamiento</h2>
        <p>Los escenarios de uso descritos en los roadmaps servirán como base para las pruebas punta a punta y permitirán al cliente contar con información automatizada del funcionamiento del software en cualquier punto de su vida útil. </p>
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="container container-lg center-content">
      <h2 class="gradient-title">Puesta en producción</h2>
      <p>SpaceshipLabs configura desde el inicio un entorno de desarrollo que utilice la misma configuración que los servidores de producción. El cliente en cualquier momento del proyecto podrá autorizar el lanzamiento a un entorno de producción mediante el proceso automático descrito en la sección de integración continua.  </p>
      <p>En nuestra propuesta incluimos toda la configuración tanto de los entornos de producción como de desarrollo. </p>
    </div>
  </section>

  <section class="info-block info-block-alt">
    <div class="container container-lg">
      <h2>Propiedad del código</h2>
      <p>Corresponderá a el cliente los derechos de explotación tanto del sistema de software desarrollado, como de los subsistemas que lo integran y que igualmente hayan sido desarrollados por Spaceshiplabs así como de todos los subproductos del desarrollo: documentación técnica de análisis y diseño, documentación de planificación y pruebas, documentación de usuario, etc.</p>
    </div>
  </section>

  <section class="info-block software-guarantee">
    <div class="container container-lg ">
      <div layout="row" class="container container-sm">
        <div flex="20"></div>
        <div flex="80">
          <h2 class="gradient-title">6 MESES</h2>
          <h2 class="gradient-title">de garantia</h2>
        </div>
      </div>
      <p>Una vez validada por parte del cliente la entrega del sistema de software, se iniciará un periodo de garantía del correcto funcionamiento del sistema de 6 meses.</p>
      <p>La garantía del sistema cubrirá un servicio de mantenimiento correctivo por parte de la Spaceshiplabs.</p>
      <p>Por mantenimiento correctivo se entiende el definido en el estándar técnico de mantenimiento de software IEEE 1219-1998: "Modificaciones realizadas a un producto de software después de su entrega para corregir fallos descubiertos", no siendo extensiva la garantía para operaciones de mantenimiento adaptativo ni perfectivo.</p>
    </div>
  </section>

  <section class="info-block-columns" layout="row" layout-md="column" layout-sm="column">
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm">
        <h2>Documentación y transferencia de conocimiento</h2>
        <p>Nuestra propuesta incluye toda la documentación requerida para poder instalar el software y ejecutar las pruebas unitarias y punta a punta en plataformas *nix y Windows. Esta documentación estará incluida en el repositorio.</p>
        <p>La documentación de arquitectura del sistema y los diagramas producidos en las etapas de análisis serán compartidos en todo momento con el cliente.</p>
        <p>Todos los API’s tanto públicos como privados contarán con documentación que explique los parámetros y funcionamiento de todos los nodos. </p>
      </div>
    </div>
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm">
        <h2>Instalación automatizada</h2>
        <p>Adicionalmente todos los módulos que publiquemos contarán con archivos que especifique las dependencias del módulo y permitan la instalación automatizada usando administradores de paquetes como npm y bower.</p>
        <div class="container-mini center-content">
          <h3>30 DÍAS</h3>
          <h3>de soporte</h3>
        </div>
        <p>Por último ofrecemos soporte de capacitacion, preguntas y respuestas durante los primeros 30 días de finalizar el contrato en caso de que traspasemos el proyecto a otro equipo.</p>
      </div>
    </div>
  </section>


</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
