<div class="container section-title section-title-spacees center-content">
</div>
<div class="info-wrap-spacees info-wrap">

  <div class="info-block">
    <div layout="row" layout-wrap class="container container-xlg container-no-padding" layout-align="center center" layout-align-xs="start start">
      <section flex="45" flex-xs="100" class="container container-normal container-md container-spacees">
        <h1><img class="wow fadeInUp" data-wow-duration="0.8s" src="images/logo_spacees.png" alt="SpaceEs" /></h1>
        <p>Es una plataforma de gestión empresarial flexible y robusta de última generación que te ayudará a maximizar la eficiencia de tu negocio.</p>
      </section>
      <section class="mockups-wrapper" flex="50" flex-xs="100">
        <img class="tablet-img wow slideInUp" data-wow-duration="1.6s" src="images/tablet-spacees.png" alt="SpaceEs tablet view">
        <img class="cel-img wow slideInUp" data-wow-duration="2.4s" src="images/cel-spacees.png" alt="SpaceEs mobile view">
        <img class="desktop-img wow slideInUp" data-wow-duration="3.2s" src="images/compu-spacees.png" alt="SpaceEs desktop view">
      </section>
    </div>
  </div>

  <section class="info-features info-gradient-container center-content">
    <div class="info-gradient-container-inner">
      <h2>Las características principales son:</h2>
      <ul layout="row" layout-wrap layout-align="space-between center" class="info-features-spacees container container-xlg">
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-Multilenguaje"></i></p>
          <p>Multilenguaje</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-multiusuarios"></i></p>
          <p>Multiusuarios</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-configurable"></i></p>
          <p>Configurable</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-responsivo"></i></p>
          <p>Responsivo</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-escalable"></i></p>
          <p>Escalable</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-reportes"></i></p>
          <p>Reportes visuales</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-multiempresas"></i></p>
          <p>Multiempresas</p>
        </li>
        <li flex="25" flex-xs="50" class="info-feature">
          <p><i class="icon-api"></i></p>
          <p>Api First</p>
        </li>

      </ul>
    </div>
  </section>

  <div class="info-block-spacees info-block-industrias">
    <div layout="row" layout-wrap class="container container-xlg container-no-padding" layout-align-xs="start start">
      <section flex flex-xs="100" class="container container-normal container-md mockups-wrapper">
        <img class="cel1-img wow slideInUp" data-wow-duration="0.8s" data-wow-delay="0.8" src="images/cel2.png" alt="SpaceEs mobile view">
        <img class="cel2-img wow slideInUp" data-wow-duration="1.6s" data-wow-delay="1.6" src="images/cel1.png" alt="SpaceEs mobile view">
      </section>
      <section flex="50" flex-xs="100" class="block-list-wrapper">
        <h2 class="wow fadeInUp" data-wow-duration="0.8s">Industrias:</h2>
        <ul class="block-list">
          <li>
            <h3>Turismo</h3>
            <p>Transportistas, operadores de tours, reservación de hoteles, circuitos</p>
          </li>
          <li>
            <h3>CMS</h3>
            <p>Administra tu página entera usando SpaceEs</p>
          </li>
          <li>
            <h3>Contabilidad</h3>
            <p>Visualiza tus ventas, reportes, comisiones y conéctate a sistemas de facturación desde SpaceEs</p>
          </li>
        </ul>
      </section>
    </div>
  </div>

</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
