<div class="container section-title center-content">
</div>
<div class="info-wrap-spacees info-wrap">

  <div class="info-block">
    <div layout="row" layout-sm="column" class="container container-xlg container-no-padding" layout-align-sm="start start">
      <section flex flex-sm="100" class="container container-normal container-md">
        <h1><img class="wow fadeInUp" data-wow-duration="0.8s" src="images/spacees.png" alt="SpaceEs" /></h1>
        <p>Es una plataforma de gestión empresarial flexible y robusta de última generación que te ayudara a maximizar la eficiencia de tu negocio.</p>
      </section>
      <section flex="50" flex-sm="100">
        <img src="images/mockup.png" alt="">
      </section>
    </div>
  </div>

  <section class="info-features info-gradient-container center-content">
    <div class="info-gradient-container-inner">
      <h2>Las características principales son:</h2>
      <ul layout="row" layout-wrap layout-align="space-between center" class="info-features-spacees container container-xlg">
        <li flex="25" class="info-feature">Multilenguaje</li>
        <li flex="25" class="info-feature">Multiusuarios</li>
        <li flex="25" class="info-feature">Configurable</li>
        <li flex="25" class="info-feature">Responsivo</li>
        <li flex="25" class="info-feature">Escalable</li>
        <li flex="25" class="info-feature">Reportes visuales</li>
        <li flex="25" class="info-feature">Multiempresas</li>
        <li flex="25" class="info-feature">Api First</li>

      </ul>
    </div>
  </section>

  <div class="info-block">
    <div layout="row" layout-sm="column" class="container container-xlg container-no-padding" layout-align-sm="start start">
      <section flex flex-sm="100" class="container container-normal container-md">
      </section>
      <section flex="50" flex-sm="100" class="block-list-wrapper">
        <h2>Industrias:</h2>
        <ul class="block-list">
          <li>
            <h3>Turismo</h3>
            <p>Transportistas, operadores de tours, reservación de hoteles, circuitos</p>
          </li>
          <li>
            <h3>CMS</h3>
            <p>Administra tu página entera usando SpaceEs</p>
          </li>
          <li>
            <h3>Contabilidad</h3>
            <p>Visualiza tus ventas, reportes, comisiones y conectate a sistemas de facturación desde SpaceEs</p>
          </li>
        </ul>
      </section>
    </div>
  </div>

</div>

<ng-include src="'views/contact-us.html'"></ng-include>
