<style>
    md-toolbar{
        display: none;
    }
</style>

<div class="container section-title center-content speed-header">
    <div class="speed-navbar">
        <div class="speed-logo-container">
            <div class="speed-logo">
                <a href="https://spaceshiplabs.com">
                    <picture>
                        <source srcset="images/logo.png" alt="Spaceshiplabs logo">
                        <img src="images/logo.webp" alt="Spaceshiplabs logo" width="200px" height="55px">
                    </picture>
                </a>
            </div>
        </div>
        <div class="speed-socials-container">
            <div class="speed-socials">
                <p>
                    SHARE THIS ON: 
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://spaceshiplabs.com/speed-analysis" target="_blank">
                        <i class="icon-face"></i>
                    </a>
                    <a href="https://www.instagram.com/spaceshiplabs/" target="_blank">
                        <i class="icon-insta"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="icon-linkedin"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="icon-whatsapp"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div>
        <picture>
            <source srcset="images/velocidad.webp" alt="Velocidad">
            <img src="images/velocidad.png" alt="Velocidad" width="120px" height="89px">
        </picture>
    </div>
</div>
<div class="container container-lg center-content speed-analysis-container">
    <section class="speed-section">
        <h1>LA VELOCIDAD DE TU SITIO WEB <span class="highlight">ES EL FACTOR #1</span> en el cierre de ventas de acuerdo con Google.</h1>
        <hr>
        <p class="speed-text text-highlight">El desempeño de una página web es crucial para las ventas, la experiencia y satisfacción del usuario.</p>
        <p class="speed-text">Impacta directamente en la rentabilidad de tu tienda en línea y la medición más importante es el tiempo de carga. </p>
    </section>
    <section class="speed-section-alt">
        <picture>
            <source srcset="images/lupa.webp"alt="Lupa">
            <img src="images/lupa.png" alt="Lupa" width="100px" height="96px">
        </picture>
        <!--
            <picture>
                <source srcset="images/graph1.webp" alt="Gráfica">
                <img src="images/graph1.jpg" alt="Gráfica" width="60%">
            </picture>
        -->
        <div class="speed-graphs-container">
            <h1 class="highlight title-alt">Factores que impactan en la experiencia y satisfacción del usuario.</h1>
            <div class="speed-graphs">
                <div class="speed-graphs-text">
                    <p>
                        Velocidad del sitio: tarda mucho tiempo en cargar
                    </p>
                </div>
                <div class="bar">
                    <span style="width: 75%">
                        <p class="speed-graphs-percent">
                            75%
                        </p>
                    </span>
                </div>
                <div class="speed-graphs-text speed-graphs-text-grey">
                    <p>
                        Qué tan fácil es encontrar lo que busco
                    </p>
                </div>
                <div class="bar-grey">
                    <span style="width: 66%">
                        <p class="speed-graphs-percent-dark">
                            65%
                        </p>
                    </span>
                </div>
                <div class="speed-graphs-text speed-graphs-text-grey">
                    <p>
                        Qué tan bien se adapta el sitio a mi pantalla
                    </p>
                </div>
                <div class="bar-grey">
                    <span style="width: 61%">
                        <p class="speed-graphs-percent-dark">
                            61%
                        </p>
                    </span>
                </div>
                <div class="speed-graphs-text speed-graphs-text-grey">
                    <p>
                        Qué tan fácil es de usar
                    </p>
                </div>
                <div class="bar-grey">
                    <span style="width: 58%">
                        <p class="speed-graphs-percent-dark">
                            58%
                        </p>
                    </span>
                </div>
                <div class="speed-graphs-text speed-graphs-text-grey">
                    <p>
                        Qué tan bonito el sitio web se ve
                    </p>
                </div>
                <div class="bar-grey">
                    <span style="width: 24%">
                        <p class="speed-graphs-percent-dark">
                            24%
                        </p>
                    </span>
                </div>
                <div class="source">
                    <p>
                        Fuente: SPEED MATTERS: Designing for Mobile Performance Awwwards
                    </p>
                </div>
                <div class="google-logo">
                    <picture>
                        <source srcset="images/google_logo.webp" alt="Google Logo">
                        <img src="images/google_logo.png" alt="Google Logo" width="120px">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="speed-section">
        <div class="percentage-row">
            <div class="percentage-circle">
                <picture>
                    <source srcset="images/100_percent.webp" alt="100 percent">
                    <img src="images/100_percent.png" alt="100 percent" width="100%">                
                </picture>
            </div>
            <div class="percentage-circle">
                <picture>
                    <source srcset="images/75_percent.webp" alt="75 percent">
                    <img src="images/75_percent.png" alt="75 percent" width="100%">                
                </picture>                
            </div>
            <div class="percentage-circle">
                <picture>
                    <source srcset="images/10_percent.webp" alt="10 percent">
                    <img src="images/10_percent.png" alt="10 percent" width="100%">                
                </picture>  
            </div>
        </div>
        <p class="text-left cursive">
            <b>De acuerdo con <span class="text-highlight-dark">Google, la velocidad de carga de un website es el factor más importante en la satisfacción del usuario, con un 75%.</span></b>
        </p>
        <p class="text-left cursive">
            <b>Está por encima de otros factores como facilidad de uso, adaptabilidad, simplicidad e incluso es tres veces más importante que el diseño web.</b>
        </p>
        <h1 class="highlight-clear">
            MENOS ES MÁS Y 
            <span class="highlight">
                RÁPIDO ES MEJOR.
            </span>
        </h1>
        <h2>
            No pierdas clientes importantes porque tu página web tarda en cargar.
        </h2>            
        <p class="text-left">
            <b>De acuerdo con cifras de <a href="https://www.thinkwithgoogle.com/marketing-strategies/app-and-mobile/mobile-page-speed-new-industry-benchmarks/">Think With Google</a>,</b> existe una relación directa con el porcentaje de abandono y la rapidez de carga de un sitio web.
        </p>
        <p class="text-left">
            Cuando una página web carga entre <b>1 y 3</b> segundos, el porcentaje de abandono es relativamente bajo: <b>32%</b>. Pero el abandono es drástico con un incremento de 3 segundos:
        </p>
        <p class="text-highlight-dark text-left">
            ¡Cuando una página web tarda más de 6 segundos en cargar, el porcentaje de abandono es de 106%!
        </p>        
    </section>

    <section class="speed-section-alt">
        <div class="speed-graphs-container">
            <h1 class="highlight title-alt">El porcentaje de rebote (o abandono) con respecto al tiempo de carga es...</h1>
            <div class="speed-graphs">
                <div class="speed-graphs-text bounce-graphs-text bounce-cell">
                    <p>1 seg a 3 seg <span>una probabilidad del</span> 32% de abandono</p>
                    <div class="bar bounce-bar">
                        <span style="width: 21%"></span>
                    </div>
                </div>
                <div></div>
                <div class="speed-graphs-text bounce-graphs-text bounce-cell">
                    <p>1 seg a 5 seg <span>una probabilidad del 90%</span> de abandono</p>
                    <div class="bar bounce-bar">
                        <span style="width: 59%"></span>
                    </div>
                </div>
                <div></div>
                <div class="speed-graphs-text bounce-graphs-text bounce-cell">
                    <p>1 seg a 6 seg <span>una probabilidad del</span> 106% de abandono</p>
                    <div class="bar bounce-bar">
                        <span style="width: 70%"></span>
                    </div>
                </div>
                <div></div>
                <div class="speed-graphs-text bounce-graphs-text bounce-cell">
                    <p>1 seg a 10 seg <span>una probabilidad del</span> 123% de abandono</p>
                    <div class="bar bounce-bar">
                        <span style="width: 81%"></span>
                    </div>
                </div>
                <div class="google-logo bounce-cell">
                    <picture>
                        <source srcset="images/google_logo.webp" alt="Google Logo">
                        <img src="images/google_logo.png" alt="Google Logo" width="120px">
                    </picture>
                </div>                
            </div>
            <!--
            <picture>
                <source srcset="images/graph2.webp" alt="Gráfica">
                <img src="images/graph2.jpg" alt="Gráfica" width="50%">
            </picture>
            -->
        </div>
        
        
    </section>

    <section class="speed-section">
        <p class="speed-text text-highlight">
            No subestimes la importancia de la velocidad de carga de tu página web: En ella recae el éxito de la satisfacción del usuario y rentabilidad de la misma.
        </p>
        <p>
            Nosotros te ayudamos a analizar tu website, identificar los puntos claves para mejorar los tiempos de carga y los implementaremos.
        </p>
    </section>
    <div class="speed-buttons">
        <div class="action-btn-wrap action-btn-speed">
            <a class="action-btn" href="#">
                ¡QUIERO MIS ANÁLISIS DE VELOCIDAD GRATIS!
            </a>
        </div>
        <div class="action-btn-wrap action-btn-speed-dark">
            <a class="action-btn" href="#">
                ¡QUIERO COTIZAR MEJORAS A MI SITIO ACTUAL!
            </a>
        </div>
    </div>
</div>