<div class="container section-title section-title-about center-content">
	<h1><i class="icon-about"></i> Nuestro equipo</h1>
</div>

<div class="info-wrap info-wrap-team container container-xlg">

  <div class="team-intro center-content">
    <!--<div class="container container-md">
      <h1>Conoce a nuestro equipo espacial</h1>
    </div>
    <div class="container container-sm">
      <p>Cada proyecto lo realizamos con nuestro mejor entusiasmo y dedicación.</p>
    </div>-->
  </div>

  <section class="team-members">

    <div layout="row" layout-align="space-between start" layout-wrap class="team-members-row">

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

    </div>

    <div layout="row" layout-align="space-between start" layout-wrap class="team-members-row">

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

    </div>

    <div layout="row" layout-align="space-between start" layout-wrap class="team-members-row">

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

    </div>


  </section>

</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
