<div class="container section-title section-title-about center-content">
	<h1><i class="icon-about"></i> Nuestro equipo</h1>
</div>

<div class="info-wrap info-wrap-team container container-xlg">

  <div class="team-intro center-content">
    <!--<div class="container container-md">
      <h1>Conoce a nuestro equipo espacial</h1>
    </div>
    <div class="container container-sm">
      <p>Cada proyecto lo realizamos con nuestro mejor entusiasmo y dedicación.</p>
    </div>-->
  </div>

  <section class="team-members">

    <div layout="row" layout-wrap class="team-members-row">

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Salvador Barrón</h4>
            <h5>Director de tecnología</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Daniel Yañez</h4>
            <h5>Director General</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Juanli Teran</h4>
            <h5>Diseñador gráfico</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Diana Pérez</h4>
            <h5>Diseñador gráfico</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Azucena Barrón</h4>
            <h5>Directora de ventas</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Paola De la garza</h4>
            <h5>Diseñador gráfico</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Carolina Marin</h4>
            <h5>Community manager</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Xochitl</h4>
            <h5>Community manager</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Erick Rodríguez</h4>
            <h5>Programador</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Jafet González</h4>
            <h5>Programador</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Luis Pérez</h4>
            <h5>Programador</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Angel Roca</h4>
            <h5>Programador</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Carlos Barahona</h4>
            <h5>Programador</h5>
          </div>
        </div>
      </div>

      <div flex="25" flex-md="33" flex-sm="50" class="team-item">
        <div class="team-item-inner">
          <img src="images/team/sony.jpg" alt="Sony">
          <div class="clear"></div>
          <div class="team-item-info">
            <h4>Uriel Tzel</h4>
            <h5>Programador</h5>
          </div>
        </div>
      </div>


    </div>

  </section>

</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
