<div class="container section-title center-content">
	<h1><img src="images/logo_about_pop.png" alt=""> Team </h1>
</div>

<div id="graphic-design" class="container" layout="column" layout-gt-md="row">
	<div flex-gt-md="50" layout-align="center center" class="graphic-design" layout="column">
		<h1 class="titulo-design">Graphic Design</h1>
		<p class="text-design">
			"Lorem ipsum sit amet, consectetur adipisicing
			elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis
			nostrud exercitation."
		</p>
		<img class="flecha-team" src="images/flecha_team.png" alt="">
	</div>
	<div id="titles-design" flex-gt-md="50" layout-align="center center" class="graphic-design background" layout="column">
		<h2 class="titles-design">CEO | CIO</h2>
		<h2 class="titles-design">Graphic Design</h2>
		<h2 class="titles-design">UI / UX Design</h2>
		<h2 class="titles-design">Software Development</h2>
		<h2 class="titles-design">Marketing</h2>
		<h2 class="titles-design">Consulting</h2>
	</div>
</div>

<div id="photography-designer" layout="row" layout-align="end start">
	<div id="date-designer" layout="column" layout-align="start end">
		<h1 class="name-designer">Diana Pérez Bautista</h1>
		<h2 class="title-designer">GRAPHIC DESIGNER</h2>
	</div>
</div>

<div id="photography-community" layout="row" layout-align="start start">
	<div id="date-community" layout="column" layout-align="start start">
		<h1 class="name-community">Carolina Marin</h1>
		<h2 class="title-community">COMMUNITY MANAGER</h2>
		<div class="more-community" layout="row" layout-align="center center">
			<a href="">Ver más</a>
		</div>
	</div>
</div>

<div id="info-community" flex="100" >
	<div class="info-community" flex="100" >
		<div flex="100" layout="row" layout-align="end end">
			<img src="images/cruz.png" alt="">
		</div>
		<div id="name-info" layout="row" layout-align="center center">
			<p class="name-info">Carolina Marin | <strong>Community Manager</strong></p>
		</div>
		<p class="text-design community">
			"Lorem ipsum sit amet, consectetur adipisicing
			elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis
			nostrud exercitation."
		</p>
	</div>
</div>

<div id="photography-founder" layout="row" layout-align="end start">
	<div id="date-designer" layout="column" layout-align="start end">
		<h1 class="name-designer">Daniel Yañes Garrido</h1>
		<h2 class="title-designer">CEO FOUNDER</h2>
	</div>
</div>

<div id="photography-programer" layout="row" layout-align="start start">
	<div id="date-community" layout="column" layout-align="start start">
		<h1 class="name-community">Cesar AP</h1>
		<h2 class="title-community">PROGRAMMER</h2>
	</div>
</div>