<div class="container section-title section-title-thankyou center-content">
	<h1>
    <i class="icon-hands"></i></h1>
</div>

<div class="thankyou-view container container-lg">
  <h1><strong>¡Todo listo!</strong></h1>
  <h1>Gracias por contactarnos: Te llamaremos pronto</h1>
  <hr/>
  <p><strong>Si deseas ponerte en contacto con nosotros antes, puedes llamarnos al:</strong></p>
  <h2 class="phone-number">+52 (998) <strong>254 03 47</strong></h2>

  <h1 class="reserve-title">
    Reserva un horario para tu asesoría <i class="icon-calendar"></i>
  </h1>

  <div class="quotes-block">
    <h1><i class="icon-quotes"></i></h1>

    <div class="quote-item">
      <p><strong>"Spaceship Labs</strong> ha sido un aliado por más de 3 años, convirtiendo nuestra plataforma digital en una parte integral de nuestro negocio"</p>
      <p class="quote-author"><strong>Allan, Yellow</strong> Transfers</p>
    </div>

    <div class="quote-item">
      <p><strong>"Spaceship Labs</strong> es una empresa en crecimiento con mucha energía e ideas nuevas. Enfocada en software, que desarrolla plataformas de diversos tipos."</p>
      <p class="quote-author"><strong>Open Data 500: Global Network</strong></p>
    </div>

  </div>

  <br/>
  <br/>

  <h3>¿Quieres crecer tu negocio?</h3>
  <p>Esto podría interesarte:</p>

  <div class="posts-items" layout="row" layout-sm="column" layout-wrap>
    <div class="post-item" flex="33" flex-xs="100">
      <p><a href="http://spaceshiplabs.com/5-razones-necesitas-posicionar-tu-marca-en-google" target="_blank">5 razones por las que necesitas posicionar tu marca en Google</a></p>
    </div>
    <div class="post-item" flex="33" flex-xs="100">
      <p><a href="http://spaceshiplabs.com/branding-termino-trendy-tu-empresa-necesita" target="_blank">¿Qué es branding? Un término trendy, pero que tu empresa necesita</a></p>
    </div>
    <div class="post-item" flex="33" flex-xs="100">
      <p><a href="#">Quiero llevar mi negocio a Internet: ¿Necesito una app o un sitio web?</a></p>
    </div>
  </div>

  <br/>

  <div class="download-cta">
    <p><a href="#">Descarga</a> la GUÍA PARA ARRANCAR UN NEGOCIO EN LA ERA DIGITAL</p>
    <div class="action-btn-wrap">
      <a href="#" class="action-btn action-btn-alt">DESCARGAR AHORA <i class="icon-download"></i></a>
    </div>
  </div>

</div>
