<div class="container section-title center-content">
	<h1><img src="images/uiux.png" alt=""> UI/UX Design</h1>
</div>

<div class="info-wrap">

	<div class="container container-xlg" layout="row" layout-sm="column" layout-align="space-between center">
		<div flex="45" flex-sm="100">
			<h1 data-wow-duration="0.8s" class="wow fadeInUp">UI/UX Design</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia sed hic, nostrum pariatur inventore ullam odio, voluptatibus dolorum, blanditiis accusamus aperiam ducimus sequi reprehenderit quos non tempora sint rem.</p>
		</div>
		<div flex="45" flex-sm="100">
			<img src="images/laplayita.png" alt="">
		</div>
	</div>

	<div class="container container-alt-2">
		<div class="container-xlg" layout="row" layout-sm="column" layout-align="space-between center">
			<div flex="45" flex-sm="100">
				<img src="images/ux4.png" alt="">
			</div>
			<div flex="45" flex-sm="100">
				<h1 data-wow-duration="0.8s" class="wow fadeInUp">Lorem ipsum dolor</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, qui dolorem possimus fugit! Deserunt, aliquam veritatis minima at iusto alias mollitia. Quisquam optio rerum fugiat ipsa laborum quae, corporis reprehenderit.</p>
			</div>
		</div>
	</div>


	<div class="container container-xlg" layout="row" layout-sm="column" layout-align="space-between center">
		<div flex="45" flex-sm="100">
			<h1 data-wow-duration="0.8s" class="wow fadeInUp">Lorem ipsum dolor</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia sed hic, nostrum pariatur inventore ullam odio, voluptatibus dolorum, blanditiis accusamus aperiam ducimus sequi reprehenderit quos non tempora sint rem.</p>
		</div>
		<div flex="45" flex-sm="100">
			<img src="images/mock_up.png" alt="">
		</div>
	</div>


	<div class="our-services our-services container" layout="column" layout-align="center center">
	  <div class="services-content container container-xlg container-no-padding center-content">
	    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Puedes ver también</h1>
	    <div
	    class="services-items"
	    layout="row"
      layout-sm="column"
	    layout-align="space-between start"
      layout-align-sm="center center"
	    >
	      <div
	        class="services-item"
	        flex="20"
          flex-sm="100">
	        <h5>UI/UX Design</h5>
	      </div>

	      <div
	        class="services-item"
	        flex="20"
          flex-sm="100">
	        <h5>Branding</h5>
	      </div>

	      <div
	        class="services-item"
	        flex="20"
          flex-sm="100">
	        <h5>Marketing</h5>
	        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
	      </div>

	      <div
	        class="services-item"
	        flex="20"
          flex-sm="100" >
	        <!--<img src="images/icono4_blanco.png" alt="">-->
	        <h5>Consulting</h5>
	      </div>

	    </div>
	  </div>
	</div>


</div>
