<div class="container section-title section-title-service center-content">
  <div class="container container-md">
    <div class="wrapper-icon">
      <i class="icon-iu wow zoomIn" ></i>
    </div>
    <h1>UIX &amp; Design</h1>
    <h2>Un buen software debe ir acompañado de una buena interfaz y una buena marca de una buena imagen visual.</h2>
  </div>
</div>

<div class="info-wrap info-wrap-service info-wrap-ui">

  <section class="info-block info-block-ux-design">
    <div class="container container-xxlg nopadding" layout="row" layout-md="column" layout-sm="column">

      <div flex="50" flex-md="100" flex-sm="100" layout="row" layout-align="center center">
        <div class="container container-sm">
          <h2 class="gradient-title">Diseño de interfaz</h2>
          <p>El diseño no solo se debe ver bien, si no también debe funcionar bien. Es por eso que al diseñar páginas web o móviles y administradores, ponemos mucho énfasis en todos los detalles para lograr esto.</p>
        </div>
      </div>

      <div flex="50" flex-md="100" flex-sm="100">
        <div class="screens-wrapper container-smd">
          <img src="images/landing4.png" class="screen-m screen-m4 wow slideInUp" data-wow-duration="0.4s"  alt="">
          <img src="images/landing3.png" class="screen-m screen-m3 wow slideInUp" data-wow-duration="0.4s" data-wow-delay="0.2s" data-wow-delay alt="">
          <img src="images/landing2.png" class="screen-m screen-m2 wow slideInUp" data-wow-duration="0.4s" data-wow-delay="0.4s" alt="">
          <img src="images/landing1.png" class="screen-m screen-m1 wow slideInUp" data-wow-duration="0.4s" data-wow-delay="0.6s" alt="">
        </div>
      </div>

    </div>
  </section>

  <section class="info-block info-block-alt info-block-market">
    <div class="container container-lg center-content">
      <p class="center-content">
        <i class="icon-wireframe large-icon wow zoomIn" data-wow-duration="0.4s" ></i>
      </p>
      <h2>Wireframe</h2>
      <p>Nos gusta iniciar el proceso de diseño de interfaz armando un wireframe, que es una versión sintetizada del diseño final. De esta manera podemos analizar la posición de los elementos de la página antes de empezar el diseño gráfico final y otros posibles problemas de estructura.</p>
    </div>
  </section>

  <section class="info-block nopadding">
    <div class="container nopadding" layout="row" layout-sm="column">
      <div flex="50" flex-sm="100">
        <div class="container container-smd">
          <h2 class="gradient-title">Diseño a mano</h2>
          <p>La imagen de tu empresa o branding es una de las herramientas más importantes que hay para conectar con tus clientes o tu publico. Es por esto que el branding es de suma importancia para el éxito de tu empresa</p>
          <p class="center-content">
            <i class="icon-diseno2 highlight-icon wow zoomIn" data-wow-duration="0.4s" ></i>
            <i class="icon-mano highlight-icon wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s"></i>
          </p>
        </div>
      </div>
      <div flex="50" class="image-sketch" flex-sm="100">
      </div>
    </div>
  </section>

  <section class="info-block info-block-alt-2">
    <div class="container container-md center-content">
      <p class="center-content">
        <i class="icon-interaccion extra-large-icon wow zoomIn" data-wow-duration="0.4s" ></i>
      </p>
      <h2>Interacciones</h2>
      <p>Es importante tambien incluir también animaciones e interacciones en un buen diseño que ayuden a mejorar la presentación y usabilidad del diseño, por este motivo utilizamos las líbrerias más recientes de Javascript para lograrlo.</p>
    </div>
  </section>

  <section class="info-block branding-section">
    <div class="container container-xxlg nopadding" layout="row" layout-sm="column">
      <div flex="50" flex-sm="100">
        <img class="branding-img" src="images/justiti.png" alt="">
      </div>
      <div flex="50" flex-sm="100">
        <div class="container">
          <h2 class="gradient-title pull-left"><i class="icon-branding"></i>Branding</h2>
          <p>La imagen de tu empresa o branding es una de las herramientas más importantes que hay para conectar con tus clientes o tu publico. Es por esto que el branding es de suma importancia para el éxito de tu empresa</p>
          <h2 class="gradient-title pull-left"><i class="icon-referencias"></i> Referencias</h2>
          <p>Antes de iniciar a diseñar nos gusta realizar una investigación de referencias relacionadas a la marca. De esta manera logramos generar más ideas resultando en un mejor producto final.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="info-block-columns" layout="row" layout-md="column" layout-sm="column">
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm center-content">
        <h2>Bocetaje</h2>
        <p>Antes de comenzar cualquier diseño, comenzamos con sketches en papel y lápiz, este proceso es muy útil ya que ayuda a probar varias formas y diseños antes de comenzar de manera digital.</p>
        <p class="center-content">
          <i class="icon-bocetaje extra-large-icon"></i>
        </p>
      </div>
    </div>
    <div flex="50" class="info-column" flex-md="100" flex-sm="100">
      <div class="container container-sm center-content">
        <h2>Paleta de colores</h2>
        <p>Nos gusta definir una paleta de colores para la creación de los elementos de diseño, basandonos siempre en la teoría del color para reflejar la personalidad de la marca, apoyándonos en el manual de usuario creado para el logotipo.</p>
        <p class="center-content">
          <i class="icon-paleta large-icon"></i>
        </p>
      </div>
    </div>
  </section>

  <section class="info-block nopadding">
    <div layout="row" layout-md="column" layout-sm="column" class="container container-xxlg nopadding">
      <div
        class="container logo-design"
        flex-order="2"
        flex-order-md="1"
        flex-order-sm="1"
        flex="50"
        flex-md="100"
        flex-sm="100"
        layout="column"
        layout-align="center"
        >
        <h2 class="gradient-title pull-left">Diseño de logo</h2>
        <p>El último paso es el diseño digital en donde aplicamos todo lo que hemos recabado en los pasos anteriores y generamos un logotipo vectorizado que será considerado final.</p>
      </div>
      <div class="center-content design-slider-wrap" flex-order="1" flex-order-md="2" flex-order-sm="2" flex="50" flex-md="100" flex-sm="100">
        <div class="design-slider">
          <img src="images/paper.png" class="no-margin" alt="">
          <div
            ng-repeat="logo in logos track by $index"
            ng-class="{ 'active-design-slide' : $index === designSliderIndex}"
            class="design-slide">
            <img
              class="no-margin"
              ng-src="{{logo}}"
              alt="">
          </div>
          <div class="design-slider-bullets">
            <a
              ng-repeat="bullet in logos track by $index"
              href="#"
              ng-click="moveDesignSlider($index)"
              ng-class="{'design-slider-bullet-on' : designSliderIndex == $index}"
              class="design-slider-bullet">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info-block info-block-alt info-block-market">
    <div class="container container-lg center-content">
      <h2>Aplicaciones</h2>
      <p>Se desarrollan aplicaciones ideales dependiendo del rubro de la empresa y enfocadas para cada marca, como tarjetas de presentación, papelería; como hojas membretadas, firmas electrónicas, folders, etc.</p>
      <p class="center-content">
        <img src="images/aplicaciones.png" alt="">
      </p>
    </div>
  </section>

</div>

<ng-include src="'views/partials/contact-us.html'"></ng-include>
