<div class="container section-title center-content">
	<h1><img src="images/uiux.png" alt=""> UI/UX Design</h1>
</div>

<div class="info-wrap">

	<div class="container container-xlg" layout="row" layout-sm="column" layout-align="space-between center">
		<div flex="45" flex-sm="100">
			<h1 data-wow-duration="0.8s" class="wow fadeInUp">UI/UX Design</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia sed hic, nostrum pariatur inventore ullam odio, voluptatibus dolorum, blanditiis accusamus aperiam ducimus sequi reprehenderit quos non tempora sint rem.</p>
		</div>
		<div flex="45" flex-sm="100">
			<img src="images/laplayita.png" alt="">
		</div>
	</div>

	<div class="container container-alt-2">
		<div class="container-xlg" layout="row" layout-sm="column" layout-align="space-between center">
			<div flex="45" flex-sm="100">
				<img src="images/ux4.png" alt="">
			</div>
			<div flex="45" flex-sm="100">
				<h1 data-wow-duration="0.8s" class="wow fadeInUp">Lorem ipsum dolor</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, qui dolorem possimus fugit! Deserunt, aliquam veritatis minima at iusto alias mollitia. Quisquam optio rerum fugiat ipsa laborum quae, corporis reprehenderit.</p>
			</div>
		</div>
	</div>


	<div class="container container-xlg" layout="row" layout-sm="column" layout-align="space-between center">
		<div flex="45" flex-sm="100">
			<h1 data-wow-duration="0.8s" class="wow fadeInUp">Lorem ipsum dolor</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis officia sed hic, nostrum pariatur inventore ullam odio, voluptatibus dolorum, blanditiis accusamus aperiam ducimus sequi reprehenderit quos non tempora sint rem.</p>
		</div>
		<div flex="45" flex-sm="100">
			<img src="images/mock_up.png" alt="">
		</div>
	</div>

</div>

<div class="our-services-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  <div class="services-content container container-xlg container-no-padding center-content">
    <h1 data-wow-duration="0.8s" class="wow fadeInUp">Puedes ver tambien</h1>
    <div
    class="services-items"
    layout="row"
    layout-align="center center"
    layout-wrap
    >
      <div class="services-item" flex="25" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/ui-ux" class="absolute-link"></a>
          <div class="service">
            <div class="service-item services-item-ui"></div>
            <h5 itemprop="name">UI/UX Design</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <div class="service-item services-item-ui"></div>
            <h5 itemprop="name">UI/UX Design</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="/ui-uix" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="25" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/ui-ux" class="absolute-link"></a>
          <div class="service">
            <div class="service-item services-item-branding"></div>
            <h5 itemprop="name">Branding</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <div class="service-item services-item-branding"></div>
            <h5 itemprop="name">Branding</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="#" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="25" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/ui-ux" class="absolute-link"></a>
          <div class="service">
            <div class="service-item services-item-marketing"></div>
            <h5 itemprop="name">Marketing</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <div class="service-item services-item-marketing"></div>
            <h5 itemprop="name">Marketing</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="#" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
      <div class="services-item" flex="25" flex-sm="50" itemscope itemtype="http://schema.org/Service">
          <a href="/ui-ux" class="absolute-link"></a>
          <div class="service">
            <div class="service-item services-item-software"></div>
            <h5 itemprop="name">Software</h5>
            <hr>
          </div>
          <div class="service service-hover">
            <div class="service-item services-item-software"></div>
            <h5 itemprop="name">Software</h5>
            <hr>
            <p itemprop="description">
              Lorem ipsum dolor sit amet, duo euripidis vituperatoribus id, vel id omnesque persecuti delicatissimi.
            </p>
            <div class="action btn-wrap">
              <a href="#" class="action-btn" itemprop="url">Leer más</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<ng-include src="'views/partials/contact-us.html'"></ng-include>
